<!---------- Our Process Banner Start---------------->
<section id = "process-banner">
    <video autoplay muted loop id="myVideo" width="100%">
        <source src="assets/video/our-process.mp4" type="video/mp4" width = >
    </video>
    <div class = "banner-content">
        <h1>10,000 Years of Tradition.</h1>
        <button class = "btn black-btn" type = "button">Watch the Film</button>
    </div>
</section>
<!---------- Our Process Banner Ends---------------->
<hr class = "section_hr">
<!--------------Our Process Section1 Start------------->
<section class = "process-section">
    <div class ="container">
        <div class = "box text-center">
             <h2>{{page[0].singletitle1}}</h2>

        </div>
    </div>
</section>
<!--------------Our Process Section1 End------------->
<hr class = "section_hr">
<!-----------Our Process Section2 Start------------->
<section class = "process-section1">
    <div class = "container">
       <div class = "row">
           <div class = "col-lg-6 col-12">
             <div class = "col1">
                 <h1>{{page[0].rugsproducttitle1}}</h1>
                 <h3>{{page[0].rugsproductbuttonname1}}</h3>
             </div>
           </div>
           <div class = "col-lg-6 col-12">
               <div class = "box">
                   <img src = "{{page[0].rugsproductproductimage1}}" alt = "img">
               </div>
          </div>
       </div>
    </div>
  </section>
<!-----------Our Process Section2 Ends------------->
<hr class = "section_hr">
<!-----------Our Process Section3 Start------------->
<section class = "process-section1">
    <div class = "container">
       <div class = "row flex-column-reverse flex-lg-row flex-md-row">
        <div class = "col-lg-6 col-12">
             <div class = "box">
                <img src = "{{page[0].processproductimage2}}" alt = "img">
             </div>
        </div>
        <div class = "col-lg-6 col-12">
          <div class = "col2">
              <h1>{{page[0].processtitle2}}</h1>
              <h3>{{page[0].processbuttonname2}}</h3>
          </div>
        </div>
    </div>
    </div>
  </section>
<!-----------Our Process Section3 Ends------------->
<hr class = "section_hr">
<!--------------Our Process Section4 Start------------->
<section class = "process-section">
    <div class ="container">
        <div class = "box text-center">
             <h2>{{page[0].singletitle2}}</h2>
        </div>
    </div>
</section>
<!--------------Our Process Section4 End------------->
<hr class = "section_hr">
<!-----------Our Process Section5 Start------------->
<section class = "process-section1">
    <div class = "container">
       <div class = "row">
           <div class = "col-lg-6 col-12">
             <div class = "col1">
                 <h1>{{page[0].processtitle3}}</h1>
                 <h3>{{page[0].processbuttonname3}}</h3>
             </div>
           </div>
           <div class = "col-lg-6 col-12">
               <div class = "box">
                   <img src = "{{page[0].processproductimage3}}" alt = "img">
               </div>
          </div>
       </div>
    </div>
  </section>
<!-----------Our Process Section5 Ends------------->
<hr class = "section_hr">
<!-----------Our Process Section6 Start------------->
<section class = "process-section1">
    <div class = "container">
       <div class = "row flex-column-reverse flex-lg-row flex-md-row">
        <div class = "col-lg-6 col-12">
             <div class = "box">
                <img src = "{{page[0].processproductimage4}}" alt = "img">
             </div>
        </div>
        <div class = "col-lg-6 col-12">
          <div class = "col2">
              <h1>{{page[0].processtitle4}}</h1>
              <h3>{{page[0].processbuttonname4}}</h3>
          </div>
        </div>
    </div>
    </div>
  </section>
<!-----------Our Process Section6 Ends------------->
<hr class = "section_hr">
<!--------------Our Process Section7 Start------------->
<section class = "process-section">
    <div class ="container">
        <div class = "box text-center">
             <h2>{{page[0].singletitle3}}</h2>
        </div>
    </div>
</section>
<!--------------Our Process Section7 End------------->
<hr class = "section_hr">
<!-----------Our Process Section5 Start------------->
<section class = "process-section1">
    <div class = "container">
       <div class = "row">
           <div class = "col-lg-6 col-12">
             <div class = "col1">
                 <h1>{{page[0].processtitle5}}</h1>

                <h3>{{page[0].processbuttonname5}}</h3>
             </div>
           </div>
           <div class = "col-lg-6 col-12">
               <div class = "box">
                   <img src = "{{page[0].processproductimage5}}" alt = "img">
               </div>
          </div>
       </div>
    </div>
  </section>
<!-----------Our Process Section5 Ends------------->
<hr class = "section_hr">
<!-----------Our Process Section6 Start------------->
<section class = "process-section1">
    <div class = "container">
       <div class = "row flex-column-reverse flex-lg-row flex-md-row">
        <div class = "col-lg-6 col-12">
             <div class ="box">
                <img src = "{{page[0].processproductimage6}}" alt = "img">
             </div>
        </div>
        <div class = "col-lg-6 col-12">
          <div class = "col2">
              <h1>{{page[0].processtitle6}}</h1>
              <h3>{{page[0].processbuttonname6}}</h3>
          </div>
        </div>
    </div>
    </div>
  </section>
<!-----------Our Process Section6 Ends------------->
<hr class = "section_hr">

