/****========Comman CSS==========***/
p{font-size: 18px;line-height: 28px;}
h2{&:after{content: "";position: relative;display: block;width: 40px;height: 3px;background: #627b80;bottom: 0;text-align: center;margin-top: 10px;}}
.col1{padding:10rem 2rem 0rem 0rem;}
  .col2{padding:10rem 0rem 0rem 2rem;}

  /*********===========Visit Us(Studio) SCSS===========******/
  #studio-banner-slider {
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	.overlay{
		content: " ";
        position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
       left: 0;
       right: 0;
       bottom: 0;
	   background-color: #38494d99;
     
	}
	.container{
	  max-width: 700px !important;
	  position: absolute;
      height: auto;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;

	  h6{
		padding: 1rem;
	  }
	  button{
		padding: 0.8rem;
		width: 280px !important;
	  }
	}

	

	
  }
  /******Studio section1******/
  /******Studio section2******/
  #studio-section2 {h2{&:after{left: calc(100% - 45px);}}p{padding-top: 1rem;}}
  /******Studio section3******/
  #studio-section3{
	background: #f6f5f3;
	h2{
	  &:after{
		left: calc(50% - 20px);
	  }
	}
	.card {
	  text-align: center;
	  position: relative;
	  height: 300px;
	  &:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		transition: all 0.3s ease 0s;
		opacity: 0;
	  }
	  &:hover {
		&:before {
		  opacity: 1;
		}
		.content {
		  background-color: #627b80;
		  bottom: 20%;
		}
	  }
	  img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	  }
	  .content{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 1rem 0;
		background-color: #607d8ba1;
		transition: all 0.3s ease 0s;
		h6{
		  font-weight: 600 !important;
		}
		p{
		  line-height: 20px;
		  font-size: 14px;
		}
	  }
	}
  }
  /******Studio section4******/
  #studio-section4 {background: linear-gradient(154deg, #e7e3dc 50%, #fff 0);p{padding-top: 1rem;}}
  /******Studio section5******/
  #studio-section5 {
	background: linear-gradient(154deg, #fff 50%, #e7e3dc 0);
	  h2 {
		&:after {
		  left: calc(100% - 45px);
		}
	  }
  }
  /******Studio section6******/
  #studio-section6 {.container {max-width: 700px !important;img {margin-top: 1rem;width: 250px;}}}
  /******Studio section8 slider******/
  #studio-slider {
	background-color: #f6f5f3;
	h2{
	  &:after{
		left: calc(50% - 20px);
	   }
	}
	.box{
	  margin: 1rem;
	  box-shadow: 0 0 10px #3333336e;
	  position: relative;
	  .overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.719);
	  }
	}
	.slick-slider img {
	  transition: all linear 0.4s;
	}
	.slick-center {
	  img {
		transform: scale(1.2);
	  }
	}
	.slick-active {
	  .overlay {
		opacity: 0;
	  }
	}
  }
  /**============(Studio Section8)===========**/
  #studio-section8 {background: #f6f5f3;.col2{padding: 8rem 0rem 0rem 2rem;h2{margin-bottom: 1.5rem;}button{width: 300px;padding: 2rem 1rem; margin-left: 0rem;}}}
  /**==========++++++(Responsive SCSS)++++++++++============*/
  @media (max-width: 991px) {
	h2{
	  &:after{
		margin-top:5px;
	  }
	}
	.col1{
		padding:0rem;
	}
	.col2{
		padding:0rem;
	}
	#studio-section2 {
		h2{
		  &:after {
			left:0;
		  }
		}
		p {
		  padding-top:0.5rem;
		}
	  }
	#studio-section3 {
	  .card {
		margin-top:1rem;
	  }
	}
	#studio-section4 {
		p {
		  padding-top:0.5rem;
		}
	  }
	#studio-section5 {

		h2{
		  &:after {
			left: 0;}}
		p{padding-top:0.5rem;}
	}
	#studio-slider {
	  .slick-center {
		.overlay {
		  opacity:0;
		}
		img {
		  transform:scale(1);
		}
	  }
	  h2 {
		margin-bottom:0.5rem;
	  }
	}
	#studio-section8 {
	  .col2 {
		padding:1rem 0rem 0rem 0rem;
		h2 {
		  margin-bottom:0.5rem;
		}
		button {
			width:250px;
		  }
	  }
	}
}
  @media (max-width: 768px) {
	p {
	  font-size:16px;
	  line-height:24px;
	}
	#studio-banner {
	  padding:6rem 0rem;
	}
	#studio-section1 {
	  .container {
		.box {
		  padding:1.5rem;
		}
	  }
	}
	.modal-content {
	  .modal-body {
		.request_checkbox {
		  padding: 0rem 0.5rem;
		}
		.request_form {
		  padding:0rem 0.5rem;
		  .blue-btn {
			width:180px;
		  }
		}
	  }
	}
  }
  @media (max-width: 576px) {
	#studio-banner {
	  padding:4rem 0rem;
	}
  }
  @media (max-width: 470px) {
	#studio-banner {
	  padding:4rem 0rem;
	}
	.modal-content {
	  .modal-body {
		.request_checkbox {
		  .col-6 {
			padding-top: 5px;
			width: 100%;
		  }
		}
	  }
	}
  }


