<!----------------(Banner Start)------------------>
<section id = "studio-banner">
    <div class = "container">
      <div class = "text-center">
        <h1 class = "mb-0 text-light text-capitalize">The Studio, Marrakech</h1>
        <h6 class = " mb-0 text-light">Rug shopping, reimagined. Witness how Moroccan rugs are woven and washed, design your own, and top it all off with an espresso (or rosé) from our Milan-inspired bar.</h6>
        <button type = "button" class= "btn black-btn" data-bs-toggle="modal" data-bs-target="#requestModal">Request Appointment</button>
    </div>
    </div>
</section>
<!----------------(Banner End)------------------>

<!----------------(studio-section1 Start)---------------->
<hr class = "section_hr">
<section id = "studio-section1" class = "inner_sec1">
    <div class = "container">
      <div class = "text-center box">
        <h2 class = "mb-4 text-capitalize">{{page.beniexperiencetitle}}</h2>
        <p [innerHTML]="page.beniexperiencedescripation"></p>
    </div>
    </div>
</section>
<!----------------(studio-section2 End)------------------>
<hr class = "section_hr">
<!----------------(studio-section3 Start)------------------>
<section id = "studio-section2">
    <div class = "container">
     <div class = "row">
       <div class = "col-lg-6 col-12 ">
          <div class = "col1 text-lg-end text-start">
              <h2 class = "text-capitalize">{{page.newwayshoptitle}}</h2>
              <p>{{page.newwayshopdescriaption}}</p>
          </div>
       </div>
       <div class = "col-lg-6 col-12">
           <div  class = "visit-img">
               <img src = "{{page.newwayshopimage}}" width="100%">
           </div>
       </div>
     </div>
    </div>
</section>
<!----------------(studio-section3 End)------------------>
<hr class = "section_hr">
<!----------------(studio-section4 Start)------------------>
<section id = "studio-section3">
    <div class = "container">
        <div class = "text-center">
           <h2 class="text-capitalize" >{{page.newwayshopmaintitle}}</h2>
        </div>
        <div class  ="row pt-4">
            <div class = "col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="{{page.newwayshopimage1}}" width = "100%" alt="img" class="img-responsive">
                    <div class="content p-2">
                        <h6 class = "text-light">{{page.newwayshoptitle1}}</h6>
                        <p class = "text-light">{{page.newwayshopdescriaption1}}</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="{{page.newwayshopimage2}}" width = "100%" alt="img" class="img-responsive">
                    <div class="content p-2">
                        <h6 class = "text-light">{{page.newwayshoptitle2}}</h6>
                        <p class = "text-light">{{page.newwayshopdescriaption2}}</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="{{page.newwayshopimage3}}" width = "100%" alt="img" class="img-responsive">
                    <div class="content p-2">
                        <h6 class = "text-light">{{page.newwayshoptitle3}}</h6>
                        <p class = "text-light">{{page.newwayshopdescriaption3}}</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="{{page.newwayshopimage4}}" width = "100%" alt="img" class="img-responsive">
                    <div class="content p-2">
                        <h6 class = "text-light">{{page.newwayshoptitle4}}</h6>
                        <p class = "text-light">{{page.newwayshopdescriaption4}}</p>
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>
<!----------------(studio-section4 End)------------------>
<hr class = "section_hr">

<!----------------(studio-section5 Start)------------------>
<section id = "studio-section4">
    <div class = "container">
     <div class = "row flex-column-reverse flex-lg-row flex-md-row">
       <div class = "col-lg-6 col-12">
           <div class = "visit-img">
               <img src = "{{page.ourteamimage}}" width="100%">
           </div>
       </div>
       <div class = "col-lg-6 col-12 ">
        <div class = "col2">
            <h2 class = "text-capitalize">{{page.ourteamtitle}}</h2>
            <p>{{page.ourteamdescripation}}</p>
        </div>
     </div>
     </div>
    </div>
</section>


<!----------------(studio-section5 End)------------------>
<hr class = "section_hr">
<!----------------(studio-section5 Start)------------------>
<section id = "studio-section5">
    <div class = "container">
     <div class = "row">

       <div class = "col-lg-6 col-12">
        <div class = "col1 text-lg-end text-start">
            <h2 class = "text-capitalize">{{page.operationtitle}}</h2>
            <p>{{page.operationdescripation}}</p>
        </div>
     </div>
     <div class = "col-lg-6 col-12">
        <div class = "visit-img">
            <img src = "{{page.operationimage}}" width="100%">
        </div>
    </div>
     </div>
    </div>
</section>
<!----------------(studio-section5 End)------------------>
<hr class = "section_hr">
<!----------------(Studio-section6 Start)---------------->
<section id = "studio-section6">
    <div class = "container">
     <div class = "text-center">
        <h3>“We want visitors to browse unhurriedly, get inspired, and enjoy an espresso from our Milan-inspired bar.”</h3>
        <img src = "assets/img/visit/signature.png">
    </div>
    </div>
</section>
<!----------------(Studio-section6 End)---------------->
<hr class = "section_hr">
<!----------------(Studio-section7 Start)---------------->
<section id = "studio-slider">
    <div class = "container">
        <div class = "text-center">
            <h2 class = "text-capitalize">
                View the Gallery
            </h2>
        </div>
      <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel"
      [config]="studioSlideConfig">
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider1.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content" >
        <div class = "box">
          <img src = "assets/img/visit/slider/slider2.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider3.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider4.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider5.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider6.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider7.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider8.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider9.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider10.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider11.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider12.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider13.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider14.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      <div ngxSlickItem  class="slide slider_content">
        <div class = "box">
          <img src = "assets/img/visit/slider/slider15.jpg" width="100%">
          <div class = "overlay"></div>
        </div>
      </div>
      </ngx-slick-carousel>
    </div>
  </section>
  <hr class = "section_hr">
  <!----------------(Studio-section7 end)---------------->
   <!----------------(Studio-section8 Start)---------------->

  <section id = "studio-section8">
    <div class = "container">
     <div class = "row">
     <div class = "col-lg-6 col-12">
        <div class = "visit-img1">
            <img src = "{{page.nycimage}}" width="100%">
        </div>
    </div>
    <div class = "col-lg-6 col-12 ">
        <div class = "col2">
            <h2 class = "text-capitalize">{{page.nyctitle}}</h2>
            <p class = "pt-3">{{page.nycdescripation}}</p>
           <button type = "button" class = "btn blue-btn" routerLink = "/visit/apartment">{{page.nycbuttonname}}</button>
        </div>
     </div>
     </div>
    </div>
</section>
<!----------------(Studio-section8 Start)---------------->
<hr class = "section_hr">

 <!-- Request Appointment Modal -->
 <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class = "p-0 text-end">
        <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17">
              <g fill="none" fill-rule="evenodd" stroke="#1B2121" stroke-linecap="square">
                <path d="M1.472 16.528L17.528.472M17.528 16.528L1.472.472"></path>
              </g>
            </svg></span>
        </button>
      </div>
      <div class="modal-body">
          <div class = "text-center">
              <h3>Request an Appointment</h3>
              <h6>See Beni for yourself</h6>
          </div>
          <div class ="row request_checkbox radio_checkbox mt-4">
              <div class = "col-6">
                    <div>
                      <input type="radio" id="test1" name="radio-group" checked>
                      <label for="test1">The Studio, Marrakech</label>
                    </div>
              </div>
              <div class = "col-6">
                  <div>
                      <input type="radio" id="test2" name="radio-group">
                      <label for="test2">The Apartment, NYC</label>
                    </div>
              </div>
          </div>
          <div class = "request_form mt-3">
              <form>
                  <div class = "row">
                      <div class = "col-6 pt-3">
                          <div class = "form-group">
                              <label for="exampleFormControlInput1" class="form-label">First Name</label>
                              <input type="text" class="form-control" placeholder="John" name = "firstname"  id="exampleFormControlInput1" >
                          </div>
                      </div>
                      <div class = "col-6 pt-3">
                          <div class = "form-group">
                              <label class="form-label">Last Name</label>
                              <input type="text" class="form-control" placeholder="doe" name = "lastname">
                          </div>
                      </div>
                      <div class = "col-6 pt-3">
                          <div class = "form-group">
                              <label class="form-label">Email</label>
                            <input type="email" class="form-control" name = "email"   aria-describedby="emailHelp" placeholder="lorem123@gmail.com">
                          </div>
                      </div>
                      <div class = "col-6 pt-3">
                          <div class = "form-group">
                              <label class="form-label">Mobile</label>
                              <input type="text" class="form-control" placeholder="1234567890" name = "firstname"  >
                          </div>
                      </div>
                      <div class = "col-12 pt-3">
                          <div class="form-group">
                              <label class="form-label">Comments</label>
                              <textarea class="form-control"  name = "textarea" placeholder = "Type your message here!" rows="3" ></textarea>
                            </div>
                      </div>

                  </div>
                  <div class = "my-3 text-center">
                      <button type = "submit" class="btn blue-btn">Send Enquiry</button>
                  </div>
              </form>

          </div>

      </div>
      <div class = "text-center p-2">
          <p class = "mb-1">
              If you have any questions, email us at<br> <a href = "#">nyc@benirugs.com</a> or <a href = "#">marrakech@benirugs.com.</a>
          </p>
      </div>
    </div>
  </div>
</div>
