<!----------------(Banner Start)------------------>
<section id = "studio-banner">
    <div class = "container">
      <div class = "text-center">
        <h1>The Studio, Marrakech</h1>
        <h6 class = "py-4 mb-0">Rug shopping, reimagined. Witness how Moroccan rugs are woven and washed, design your own, and top it all off with an espresso (or rosé) from our Milan-inspired bar.</h6>
        <button type = "button" class= "btn black-btn">Request Appointment</button>  
    </div>
    </div>
</section>
<!----------------(Banner End)------------------>

<!----------------(studio-section1 Start)---------------->
<hr class = "section_hr">
<section id = "studio-section1">
    <div class = "container">
      <div class = "text-center box">
        <h2 class = "mb-4">The Beni Experience.</h2>
        <p>Two years after launching this digital home of Beni Rugs, we broke ground on an 8,000 square foot studio in Tameslouht, Morocco. The studio - which houses our design HQ, rug showroom, and our team of incredible Berber women who weave the brand’s creations - is situated on the Route to Amizmiz, an emerging design enclave twenty minutes south of the bustling city of Marrakech.</p>  
    </div>
    </div>
</section>
<hr class = "section_hr">
<!----------------(studio-section2 End)------------------>

<!----------------(studio-section3 Start)------------------>
<section id = "studio-section2">
    <div class = "container">
     <div class = "row">
       <div class = "col-lg-6 col-12 ">
          <div class = "text-end pe-4">
              <h2>A new way to shop</h2>
              <p>The studio aims to modernize the traditional set-up of shopping handcrafted Moroccan rugs within the city’s markets. Here, our rugs are displayed on sleek modular rack systems, and an immense selection of yarns and color swatches inspire customization.</p>
          </div>
       </div>
       <div class = "col-lg-6 col-12">
           <div>
               <img src = "assets/img/visit/sec2.jpg" width="100%">
           </div>

       </div>
     </div>
    </div>
</section>
<!----------------(studio-section3 End)------------------>
<hr class = "section_hr">
<!----------------(studio-section4 Start)------------------>
<section id = "studio-section3">
    <div class = "container">
        <div class = "text-center">
           <h2>What to Expect</h2>
        </div>
        <div class  ="row pt-4">
            <div class = "col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img src="assets/img/visit/sec3-card1.jpg" width = "100%" alt="img" class="img-responsive">
                    <div class="content">
                        <h5>We’ll provide the ride</h5>
                        <p>Private transfer from Marrakech to the studio is available, where guests are greeted by the team and given a personal tour.</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img src="assets/img/visit/sec3-card2.jpg" width = "100%" alt="img" class="img-responsive">
                    <div class="content">
                        <h5>We’ll provide the ride</h5>
                        <p>Private transfer from Marrakech to the studio is available, where guests are greeted by the team and given a personal tour.</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img src="assets/img/visit/sec3-card3.jpg" width = "100%" alt="img" class="img-responsive">
                    <div class="content">
                        <h5>We’ll provide the ride</h5>
                        <p>Private transfer from Marrakech to the studio is available, where guests are greeted by the team and given a personal tour.</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img src="assets/img/visit/sec3-card4.jpg" width = "100%" alt="img" class="img-responsive">
                    <div class="content">
                        <h5>We’ll provide the ride</h5>
                        <p>Private transfer from Marrakech to the studio is available, where guests are greeted by the team and given a personal tour.</p>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>
<!----------------(studio-section4 End)------------------>