<footer>
    <div class = "top-footer">
      <div class = "container">
         <div class = "row">
             <div class = "col-md-3 col-sm-6 col-12">
               <div>
                   <h4>About Us</h4>
                  <p class = "mb-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor egestas purus, at pharetra urna. Aliquam commodo eu justo in iaculis. Nulla facilisi. </p>
               </div>
             </div>
             <div class = "col-md-3 col-sm-6 col-12">
                <div>
                    <h4>Company</h4>
                    <ul class = "navbar-nav">
                        <li class = "nav-item" *ngFor="let company of company">
                            <a [routerLink] = "company.link" class = "nav-link">{{company.menu_title}}</a>
                        </li>
                        <!-- <li class = "nav-item">
                            <a href = "#" class = "nav-link">Visit Us</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "#" class = "nav-link">Our Process</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "#" class = "nav-link">Our Story</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class = "col-md-3 col-sm-6 col-12">
                <div>
                    <h4>Support</h4>
                    <ul class = "navbar-nav">
                        <li class = "nav-item" *ngFor="let supportLinks of support">
                            <a [routerLink]="['pages', supportLinks.seo_title]" class = "nav-link">{{supportLinks.title}}</a>
                        </li>
                        <!-- <li class = "nav-item">
                            <a href = "#" class = "nav-link">Career</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "#" class = "nav-link">Terms & Conditions</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "#" class = "nav-link">Privacy & Cookie policy</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class = "col-md-3 col-sm-6 col-12">
                <div>
                    <h4>Contact Us</h4>
                    <div>


    <h6>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
    <desc>Created with Fabric.js 1.7.22</desc>
    <defs>
    </defs>
    <g transform="translate(128 128) scale(1.66 1.66)" style="">
        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-76.04999999999998 -76.05) scale(1.69 1.69)" >
        <path d="M 69.457 88.342 l 8.938 -4.509 c 4.251 -2.145 4.761 -8.012 0.944 -10.858 L 65.846 62.917 c -2.035 -1.517 -4.773 -1.69 -6.983 -0.441 l -3.919 2.215 c -1.88 1.063 -4.182 1.133 -6.088 0.118 C 38.56 59.328 30.672 51.44 25.191 41.144 c -1.015 -1.906 -0.945 -4.208 0.118 -6.088 l 2.215 -3.919 c 1.249 -2.209 1.076 -4.948 -0.441 -6.983 L 17.025 10.661 c -2.846 -3.818 -8.714 -3.308 -10.858 0.944 l -4.509 8.938 c -2.107 4.177 -2.224 9.101 -0.246 13.341 c 11.6 24.87 29.834 43.104 54.704 54.704 C 60.355 90.566 65.28 90.449 69.457 88.342 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(98,123,128); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        <path d="M 85.913 53.128 c -2.257 0 -4.087 -1.829 -4.087 -4.087 c 0 -22.535 -18.333 -40.868 -40.868 -40.868 c -2.257 0 -4.087 -1.829 -4.087 -4.087 S 38.701 0 40.959 0 C 68 0 90 22 90 49.041 C 90 51.299 88.171 53.128 85.913 53.128 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(244,219,63); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        <path d="M 69.566 53.128 c -2.257 0 -4.087 -1.829 -4.087 -4.087 c 0 -13.521 -10.999 -24.521 -24.521 -24.521 c -2.257 0 -4.087 -1.829 -4.087 -4.087 s 1.829 -4.087 4.087 -4.087 c 18.028 0 32.694 14.667 32.694 32.694 C 73.653 51.299 71.823 53.128 69.566 53.128 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(244,219,63); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
    </g>
    </g>
    </svg>
        +1234567890</h6>
        <h6>


<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
    <desc>Created with Fabric.js 1.7.22</desc>
    <defs>
    </defs>
    <g transform="translate(128 128) scale(0.72 0.72)" style="">
        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
        <path d="M 82.379 11.629 H 7.621 C 3.418 11.629 0 15.047 0 19.25 v 44.501 c 0 4.202 3.418 7.62 7.621 7.62 h 74.758 c 4.202 0 7.621 -3.418 7.621 -7.62 V 19.25 C 90 15.047 86.581 11.629 82.379 11.629 z M 87 63.751 c 0 2.548 -2.073 4.62 -4.621 4.62 H 7.621 C 5.073 68.371 3 66.299 3 63.751 V 19.25 c 0 -0.851 0.247 -1.639 0.65 -2.324 l 36.414 30.95 C 41.495 49.092 43.247 49.7 45 49.7 c 1.752 0 3.505 -0.608 4.935 -1.824 l 36.414 -30.95 C 86.753 17.611 87 18.399 87 19.25 V 63.751 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(98,123,128); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        <path d="M 82.379 14.629 c 0.587 0 1.144 0.121 1.662 0.322 l -36.048 30.64 c -1.735 1.476 -4.252 1.474 -5.984 0 L 5.959 14.95 c 0.517 -0.201 1.074 -0.321 1.661 -0.321 H 82.379 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(98,123,128); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        <path d="M 87 63.751 c 0 2.548 -2.073 4.62 -4.621 4.62 H 7.621 C 5.073 68.371 3 66.299 3 63.751 V 19.25 c 0 -0.851 0.247 -1.639 0.65 -2.324 l 36.414 30.95 C 41.495 49.092 43.247 49.7 45 49.7 c 1.752 0 3.505 -0.608 4.935 -1.824 l 36.414 -30.95 C 86.753 17.611 87 18.399 87 19.25 V 63.751 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(244,219,63); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        <path d="M 6 22.86 l 32.121 27.302 C 40.047 51.799 42.49 52.7 45 52.7 c 2.51 0 4.953 -0.902 6.878 -2.538 L 84 22.86 v 40.891 c 0 0.893 -0.727 1.62 -1.621 1.62 H 7.621 C 6.727 65.371 6 64.644 6 63.751 V 22.86 M 3.65 16.926 C 3.247 17.611 3 18.399 3 19.25 v 44.501 c 0 2.548 2.073 4.62 4.621 4.62 h 74.758 c 2.548 0 4.621 -2.072 4.621 -4.62 V 19.25 c 0 -0.851 -0.247 -1.638 -0.65 -2.324 l -36.414 30.95 C 48.506 49.092 46.753 49.7 45 49.7 c -1.753 0 -3.506 -0.608 -4.936 -1.824 L 3.65 16.926 L 3.65 16.926 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
    </g>
    </g>
    </svg>
           lorem123@gmail.com
        </h6>
                    </div>
                </div>
            </div>

         </div>
      </div>
    </div>
    <div class = "bottom-footer py-4 text-center">
      <p class = "mb-0">Copyright © 2022 Rug, All Rights Reserved.</p>
    </div>
</footer>
