<hr class = "section_hr">
<section id = "checkout_section">
    <div class ="container">
        <div class = "text-center">
            <h2>Checkout</h2>
        </div>
        <div class = "row flex-column-reverse flex-lg-row flex-md-row pt-4 mt-5">
            <div class = "col-lg-6 col-12 col1">
                <nav>
                    <ul class = "nav nav-tabs justify-content-center" id = "nav-tab" role = "tablist">
                        <li class="nav-link"><a class="nav-item" [ngClass]="shipping ? 'active' : ''" id="nav-shipping-tab" data-bs-toggle="tab" data-bs-target="#nav-shipping"
                            role="tab" aria-controls="nav-shipping" aria-selected="true" (click)="showshipping()">Information</a></li>
                        <span *ngIf="showPaymentBtn">|</span>
                       <li class="nav-link"><a class="nav-item" [ngClass]="!shipping ? 'active' : ''" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment"
                        role="tab" aria-controls="nav-payment" aria-selected="false" (click)="showpayment()">Payment</a></li>
                    </ul>

                </nav>
                <div class="tab-content pt-4" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-shipping" role="tabpanel" aria-labelledby="nav-shipping-tab" *ngIf="!payment || shipping">
                        <div class="contact_form_heading">
                            <div class="row">
                              <div class=" col-6 heading_contact">
                                <h5>Contact Information</h5>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-12 already_login_heading">
                                <p>Already have an account? <a routerLink = "/login">Log in</a></p>
                              </div> -->
                              <div class = "col-12">
                                <div class = " checkout_contact">
                                    <form class="needs-validation" novalidate="">
                                        <div>
                                          <input class="form-control " type="email" placeholder="Email" id="validationCustom01" required="">
                                        </div>
                                        </form>

                                        <div class="information_check_box">

                                          <label class="contant">Keep me up to date on news and exclusive offers
                                             <input type="checkbox" class = "input-checkbox">
                                              <span class="checkmark"></span>
                                        </label>

                                        </div>
                                  </div>
                              </div>



                            </div>
                          </div>
                        <div class = "pt-4">
                            <h5>Shipping Address</h5>
                            <div class = "ship_address">

                                 <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                                     <div class = "row">
                                         <div class = "col-md-6 col-12">
                                             <div class="form-group py-2">
                                                 <input type="text" name="first_name" formControlName="first_name" class="form-control" placeholder = "First name" value="">
                                             </div>
                                         </div>
                                         <div class = "col-md-6 col-12">
                                             <div class="form-group py-2">
                                                 <input type="text" name="last_name" formControlName="last_name" class="form-control" placeholder  = "Last name">
                                             </div>
                                         </div>
                                         <div class = "col-md-6 col-12">
                                             <div class="form-group py-2">
                                                 <input type="text"  name="email" formControlName="email" class="form-control" placeholder = "Email">
                                             </div>
                                         </div>
                                         <div class = "col-md-6 col-12">
                                             <div class="form-group py-2">
                                                 <input type="text"  name="mobile" formControlName="mobile_no" class="form-control" placeholder = "Mobile">
                                             </div>

                                         </div>
                                         <div class = "col-md-12 col-12">
                                             <div class="form-group py-2">
                                                 <input type="text"  name="address" formControlName="address" class="form-control" placeholder = "Address">
                                             </div>
                                         </div>
                                         <div class = "col-md-4 col-12">
                                             <div class="form-group py-2">
                                                 <select class="form-select select_country" formControlName="country">
                                                     <option value="" selected="">Country</option>
                                                     <option value="1">India</option>
                                                     <option value="2">Australia</option>
                                                     <option value="3">USA</option>
                                                  </select>
                                             </div>
                                         </div>
                                         <div class = "col-md-4 col-12">
                                             <div class="form-group py-2">
                                                 <select class="form-select select_country" formControlName="city">
                                                     <option value="" selected="">City</option>
                                                     <option value="1">Florida</option>
                                                     <option value="2">Delhi</option>
                                                     <option value="3">Mumbai</option>
                                                  </select>
                                             </div>
                                         </div>
                                         <div class = "col-md-4 col-12">
                                             <div class="form-group py-2">
                                                 <input type="text"  name="code" formControlName="postal_code" class="form-control" placeholder = "zip code">
                                             </div>
                                         </div>

                                     </div>
                                     <div  class = "pay_btn nav nav-tabs" id = "nav-tab" role = "tablist">
                                      <button type = "submit" class = "btn checkout-btn green-btn" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment"
                                      role="tab" aria-controls="nav-payment" aria-selected="false" [disabled]="!addressForm.valid">Continue to Payment</button>
                                    </div>

                                 </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab" *ngIf = "payment || !shipping">
                        <div>
                           <div class = "ship_add">
                               <table>
                                   <tbody>
                                       <tr>
                                           <td>Email</td>
                                           <td>{{address.dataget.email}}</td>
                                           <td class = "text-end"><a (click)="showshipping()">Change</a></td>
                                       </tr>
                                       <tr><td colspan = "3"><hr class = "my-2"></td></tr>
                                       <tr>
                                        <td>Ship to</td>
                                        <!-- <td>A/7 main street , tempa , Florida 345627 (USA)</td> -->
                                        <td>{{address.dataget.address + ', ' + address.dataget.city + ', ' + address.dataget.postal_code + ', ' + address.dataget.country}}</td>
                                        <td class = "text-end"><a (click)="showshipping()">Change</a></td>
                                    </tr>
                                   </tbody>
                               </table>
                           </div>
                        </div>
                        <div class = "pt-4">
                            <div>
                             <h5>Payment Method</h5>
                            </div>

                        <div class="payment_method">

                         <!-- <div class="db_card">
                           <label class="check_box ">Credit Card/Dabit Card
                                <input type="radio" checked="checked" name="radio">
                                <span class = "float-right"> <img src="assets/img/checkout/american-express.png">
                                 <img src="assets/img/checkout/visa.png"></span>


                                <span class="checkmark"></span>
                           </label>

                         </div>
                         <form>
                             <div class = "row">
                                 <div class = "col-md-12 col-12">
                                     <div class="form-group py-2">
                                         <input type="text"  name="cardnumber" formControlName="cardnumber" class="form-control" placeholder = "Card number">
                                     </div>
                                 </div>
                                 <div class = "col-md-12 col-12">
                                     <div class="form-group py-2">
                                         <input type="text"  name="cardname" formControlName="cardname" class="form-control" placeholder = "Card holder name">
                                     </div>
                                 </div>
                                 <div class = "col-md-6 col-12">
                                     <div class="form-group py-2">
                                         <input type="text"  name="cvv" formControlName="cvv" class="form-control" placeholder = "Cvv">
                                     </div>
                                 </div>
                                 <div class = "col-md-6 col-12">
                                     <div class="form-group py-2">
                                         <input type="text"  name="expirydate" formControlName="expirydate" class="form-control" placeholder = "Expiry date">
                                     </div>

                                 </div>

                             </div>

                         </form>-->
                        <div class="payment_option">
                            <ul class = "pt-2">
                                <!-- <li>
                                 <label class="check_box ">Google Pay UPI
                                     <img class="gpay_img" src="assets/img/checkout/google-pay.png">

                                          <input type="radio" checked="checked" name="radio">
                                          <span class="checkmark"></span>
                                 </label>
                                </li>
                                <li>
                                 <label class="check_box ">Paypal
                                     <img class="paypal_img" src="assets/img/checkout/paypal.png">
                                        <input type="radio" name="radio">
                                         <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                 <label class="check_box ">Amazon Pay
                                     <img class="amazon_img" src="assets/img/checkout/amazon-pay.png">
                                         <input type="radio" name="radio">
                                          <span class="checkmark"></span>
                                     </label>
                                </li> -->
                                <li>
                                 <label class="check_box ">Cash On Delivery
                                     <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                        <input type="radio" checked name="radio">
                                         <span class="checkmark"></span>
                                    </label>
                                </li>

                            </ul>

                         </div>

                     </div>
                     <div class = "pay_btn nav nav-tabs" id = "nav-tab" role = "tablist">
                        <button type = "button" (click)="onPayment()" class = "btn btn1 green-btn">Pay Now</button>
                        <button type = "button" class = "btn btn2" id="nav-shipping-tab" data-bs-toggle="tab" data-bs-target="#nav-shipping"
                        type="button" role="tab" aria-controls="nav-shipping" aria-selected="true" (click) = "showshipping()">Return to Shipping</button>
                     </div>
                 </div>
                    </div>
                </div>



            </div>

            <div class = "col-lg-6 col-12 col2">
                <div class = "text-end">
                    <p>Total Bag <span>({{cartCount}} Items)</span></p>
                </div>
               <div class = "checkout_product cart-item">
                <table>
                    <tbody>
                        <tr *ngFor="let cart of cart.cartitem">
                            <td><div class = "checkout_product_img"><img src = "{{cart.image}}"></div></td>
                            <td><h6 class = "mb-0">{{cart.product_detail.title}}</h6>

                                 <!-- <p  class = "mb-0"><span>Fawn + Natural </span> / <span>3' x 5'</span> / <span>Tassels</span></p> -->
                          </td>
                          <td><h5 class = "checkout_product_quantity"><span> Qty: </span>{{cart.stock}}</h5></td>
                          <td class = "text-center"><h5>${{cart.price*cart.stock}}</h5></td>
                          <td  class = "text-end"><button (click)="deleteCartItem(cart.id)">&#10005;</button></td>
                        </tr>
                    </tbody>
                </table>

               </div>
               <div class  = "checkout_payment">
                <ul>
                    <hr>
                <li class = "d-flex justify-content-between py-2">
                    <p class = "mb-0">Subtotal</p>
                    <p class = "mb-0"><span>${{cart.Totalamount}}</span></p>
                </li>
                <hr>
                <li class = "d-flex justify-content-between py-2">
                    <p class = "mb-0">Standard Shipping</p>
                    <p class = "mb-0"><span>$10</span></p>
                </li>
                <hr>
                <li class = "d-flex justify-content-between py-2">
                    <p class = "mb-0">Total</p>
                    <h5 class = "mb-0"><span>${{cart.Totalamount+10}}</span></h5>
                </li>
                <hr>
                </ul>
               </div>
            </div>

        </div>
    </div>
</section>

<hr class = "section_hr">
