h5{
  text-transform: uppercase;
  color: #627b80db;
  text-decoration: underline;
}
.order_text {
  text-align: center;
  background-color: #788e92;
  padding: 10px;
  color: #fff;
  font-size: 21px;
}
.checkout_product {
  height: auto;
}
