<!-------------
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <img (click)="rotate($event)" src="{{product.image}}" width="100%" height="100%">
        </div>
        <div class="col-md-8">
          <h2>{{product.title}}</h2>
          <p>{{product.price_range}}</p>
          <div class="product_description" [innerHTML]="product.description"></div>
          <div class="accordion">
            <div class="accordion-item" *ngFor="let item of productFeatures; index as i;">
              <h2 class="accordion-header">
                <button class="accordion-button" (click)="panelExpanded = !panelExpanded" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
                  {{item.title}}
                </button>
              </h2>
              <div [attr.id]="'collapseOne'+i" class="accordion-collapse collapse">
                <div class="accordion-body">
                  {{item.description}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <p (click)="showallcolors()">Colors</p>
        <div *ngIf="showcolors">
        <ul *ngFor="let variation of productVariation">
          <li (click)="variantProduct(variation.variant_id)">{{variation.attribute1}}</li>
        </ul>
        </div>
      </div>
      <div class="row">
        <p (click)="showallcolors()">Size</p>
        <div *ngIf="showcolors">
        <ul *ngFor="let variation of productVariation">
          <li (click)="variantProduct(variation.variant_id)">{{ variation.attribute2}}</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

--->
<!----------Breadcrumb Starts---------->
<section class="py-2">
	<div class="container">
		<div aria-label="breadcrumb" class="breadcrumbs large-font">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink = "" role="button" tabindex="0">Home</a></li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
      </ol>
    </div>
	</div>
</section>

<!----------Breadcrumb end---------->
<!----------Product Details Section Starts---------->
<section id = "product-details">
  <div class="container product_container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 product_detail_left-col p-0">
        <div class="product">
          <div class = "img-container">
            <img id = "imageBox" (click)="rotate($event)" [src]="product.image" alt="{{product.image}}" width="100%">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 product_col">
        <div class="product-detail-section">
          <h2 class = "mb-0">{{product.title}}</h2>
          <!-- <h6>Available in 100 colorways</h6> -->

            <div class = "pt-2">
              <h4>Description</h4>
              <p [innerHTML]="product.description"></p>
            </div>
            <div class = "d-flex justify-content-between py-2">

              <div class = "product-quantity">
                <button type = "button"class = "minus" (click) = minus()>-</button>
                  <input type = "text" [value] ="quantity">
                <button type = "button" (click) = plus()>+</button>
              </div>
              <div>
                <h3>{{product.price_range}}</h3>
              </div>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Materials
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, totam? Fuga hic cumque ipsa debitis officiis vero beatae dolores modi optio at, tempora corporis iure in, exercitationem cupiditate! Incidunt, dolore?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Tassels
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, totam? Fuga hic cumque ipsa debitis officiis vero beatae dolores modi optio at, tempora corporis iure in, exercitationem cupiditate! Incidunt, dolore?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Lead Time
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, totam? Fuga hic cumque ipsa debitis officiis vero beatae dolores modi optio at, tempora corporis iure in, exercitationem cupiditate! Incidunt, dolore?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Returns
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, totam? Fuga hic cumque ipsa debitis officiis vero beatae dolores modi optio at, tempora corporis iure in, exercitationem cupiditate! Incidunt, dolore?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    What does 3' x 5' look like?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, totam? Fuga hic cumque ipsa debitis officiis vero beatae dolores modi optio at, tempora corporis iure in, exercitationem cupiditate! Incidunt, dolore?</p>
                  </div>
                </div>
              </div>
            </div>
          <div>
            <div class = "product_button pt-3">
              <a type="button" class="btn product_button1" href = "">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------Product Details Section Ends---------->
