<!----------------(Banner Start)------------------>
<section id = "apartment-banner">
    <div class = "container">
      <div class = "text-center">
        <h1 class = "mb-0 text-light">The Apartment, NYC</h1>
        <h6 class = "mb-0 text-light">Beni in a brownstone. Let’s meet by the fireplace to chat rug design, review color and construction samples, and answer any questions.</h6>
        <button type = "button" class= "btn black-btn" data-bs-toggle="modal" data-bs-target="#requestModal">Request Appointment</button>  
    </div>
    </div>
</section>
<!----------------(Banner End)------------------>

<!----------------(studio-section1 Start)---------------->
<hr class = "section_hr">
<section id = "apartment-section1" class = "inner_sec1">
    <div class = "container">
      <div class = "text-center box">
        <h2 class = "mb-4">Bringing Morocco to the city.</h2>
        <p>We’re excited to welcome you to our first US-based showroom, designed by ongoing collaborator Colin King. The apartment is located in a historic brownstone in the West Village of Manhattan, and will showcase a rotating installation of our handwoven knotted and flat weave creations.</p>  
    </div>
    </div>
</section>
<hr class = "section_hr">
<!----------------(studio-section2 End)------------------>

<!----------------(studio-section3 Start)------------------>
<section id = "apartment-section2">
    <div class = "container">
        <div class = "row flex-column-reverse flex-lg-row flex-md-row">
            <div class = "col-lg-6 col-12">
            <div class = "visit-img">
                <img src = "assets/img/visit/apartment1.jpg" width="100%"  alt = "img">
            </div>
        </div>
       <div class = "col-lg-6 col-12 ">
          <div class = "col2 text-start">
              <h2 class = "text-capitalize">It’s in the details</h2>
              <p>King worked with us to incorporate our Moroccan roots into the design, including a centrally-placed handcrafted pendant light handmade in Marrakech, and shelves scattered with ceramics and objects sourced through local potters and artisans.</p>
          </div>
       </div>
       
     </div>
    </div>
</section>
<!----------------(studio-section3 End)------------------>
<hr class = "section_hr">
<!----------------(studio-section4 Start)------------------>
<section id = "apartment-section3">
    <div class = "container">
     <div class = "row">
       <div class = "col-lg-6 col-12">
        <div class = "col2 text-lg-end text-start">
            <h2 class = "text-capitalize">A Leafy Tree</h2>
            <p>A leafy tree placed in the apartment’s original, leaded glass bay windows echoes the ancient olive tree at the center of the Beni Morocco Studio. Vintage finds throughout the space reflect the team’s deep appreciation of global design and craftsmanship.</p>
        </div>
     </div>
     <div class = "col-lg-6 col-12">
        <div class = "visit-img">
            <img src = "assets/img/visit/apartment2.jpg" width="100%"  alt = "img">
        </div>
    </div>
  </div>
</div>
</section>
<!----------------(Apartmentstudio-section4 End)------------------>
<hr class = "section_hr">
<!----------------(Apartment-section5 Start)---------------->
<section id = "apartment-section4">
    <div class = "container">
     <div class = "text-center">
        <h3>“When we designed the space, we leaned into the feeling of a collected home. The visuals at play instantly feel both old and new — a balance so beautifully echoed by the weavers and the designs that Beni creates.”</h3>
        <h6>Colin King</h6>
    </div>
    </div>
</section>
<!----------------(Apartment-section5 End)---------------->
<hr class = "section_hr">
<!----------------(Apartment-section6 Start)------------------>
<section id = "apartment-section5">
    <div class = "container">
     <div class = "row">
       <div class = "col-lg-6 col-12 ">
        <div class = "col2">
            <h2>What to expect</h2>
            <p>Seasonal rug installations, curated by the Beni creative team and styled by King, will highlight new designs and patterns, and our collaboration collections. Larger scale color samples in every in-stock shade will be stacked and ready to peruse. To-go sample packs will allow visitors to visualize our exclusive color palette and feel the quality of our handcrafted rugs.</p>
        </div>
     </div>
     <div class = "col-lg-6 col-12">
        <div class = "visit-img">
            <div class ="opacity"></div>
            <img src = "assets/img/visit/apartment3.jpg" width="100%" alt = "img">
        </div>
    </div>
     </div>
    </div>
</section>
<!----------------(Apartment-section6 End)------------------>
<hr class = "section_hr">
<!----------------(Apartment-section7 Start)-------------->
<section id = "apartment-section6">
  
</section>
<!----------------(Apartment-section7 End)---------------->
<hr class = "section_hr">
<!----------------(Apartment-section8 Start)---------------->

  <section id = "apartment-section8">
    <div class = "container">
     <div class = "row">
     <div class = "col-lg-6 col-12">
        <div class = "visit-img1">
          
            <img src = "assets/img/visit/studio-banner1.jpg" width="100%">
        </div>
    </div>
    <div class = "col-lg-6 col-12">
        <div class = "col2">
            <h2>Visit Us in Marrakech</h2>
            <p>Rug shopping, reimagined. Witness how Moroccan rugs are woven and washed, design your own, and top it all off with an espresso (or rosé) from our Milan-inspired bar.</p>
           <button type = "button" class = "btn blue-btn" routerLink = "/visit/studio">Explore the Studio</button>
        </div>
     </div>
     </div>
    </div>
</section>
<!----------------(Studio-section8 Start)---------------->
<hr class = "section_hr">

  <!-- Request Appointment Modal -->
  <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class = "p-0 text-end">
          <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17">
                <g fill="none" fill-rule="evenodd" stroke="#1B2121" stroke-linecap="square">
                  <path d="M1.472 16.528L17.528.472M17.528 16.528L1.472.472"></path>
                </g>
              </svg></span>
          </button>
        </div>
        <div class="modal-body">
            <div class = "text-center">
                <h3>Request an Appointment</h3>
                <h6>See Beni for yourself</h6>
            </div>
            <div class ="row request_checkbox mt-4">
                <div class = "col-6">
                      <div>
                        <input type="radio" id="test1" name="radio-group" checked>
                        <label for="test1">The Studio, Marrakech</label>
                      </div>
                </div>
                <div class = "col-6">
                    <div>
                        <input type="radio" id="test2" name="radio-group">
                        <label for="test2">The Apartment, NYC</label>
                      </div>
                </div>
            </div>
            <div class = "request_form mt-3">
                <form>
                    <div class = "row">
                        <div class = "col-6 pt-3">
                            <div class = "form-group">
                                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="John" name = "firstname"  id="exampleFormControlInput1" >
                            </div>
                        </div>
                        <div class = "col-6 pt-3">
                            <div class = "form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="doe" name = "lastname">
                            </div>
                        </div>
                        <div class = "col-6 pt-3">
                            <div class = "form-group">
                                <label class="form-label">Email</label>
                              <input type="email" class="form-control" name = "email"   aria-describedby="emailHelp" placeholder="lorem123@gmail.com">
                            </div>
                        </div>
                        <div class = "col-6 pt-3">
                            <div class = "form-group">
                                <label class="form-label">Mobile</label>
                                <input type="text" class="form-control" placeholder="1234567890" name = "firstname"  >
                            </div>
                        </div>
                        <div class = "col-12 pt-3">
                            <div class="form-group">
                                <label class="form-label">Comments</label>
                                <textarea class="form-control"  name = "textarea" placeholder = "Type your message here!" rows="3" ></textarea>
                              </div>
                        </div>

                    </div>
                    <div class = "my-3 text-center">
                        <button type = "submit" class="btn blue-btn">Send Enquiry</button>
                    </div>
                </form>
                
            </div>
           
        </div>
        <div class = "text-center p-2">
            <p class = "mb-1">
                If you have any questions, email us at<br> <a href = "#">nyc@benirugs.com</a> or <a href = "#">marrakech@benirugs.com.</a>
            </p>
        </div>  
      </div>
    </div>
  </div>


