
<!----------Breadcrumb Starts---------->
<section class="py-2 breadcrumb_section">
    <div class="container">
      <div aria-label="breadcrumb" class="breadcrumbs large-font">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink = "" role="button" tabindex="0">Home</a></li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
      </div>
    </div>
  </section>
  <!----------Breadcrumb end---------->

  <!---------Cart Section--------->
<section id = "cart-section">
   <div class = "container">
     <div class = "text-center mb-4">
         <h2>Your Cart</h2>
     </div>
     <div class = "row pt-4" >
        <div class = "col-lg-8 col-12">
             <div>
                <div class="cart-item">
                  <table>
                      <tbody>
                          <tr *ngFor="let cart of cart.cartitem">
                              <!-- <td><img src = "assets/img/product/product.png"></td> -->
                              <!-- <div class="" *ngIf="cart.length != 0"> -->
                              <td><div class = "cart_product_img"><img src = "{{cart.image}}"></div></td>
                              <td class = "product_name"><h6 class = "mb-0">{{cart.product_detail.title}}</h6>
                                   <p  class = "mb-0"><span *ngIf="cart.product_variant[0].attribute1">{{cart.product_variant[0].attribute1}} </span> / <span *ngIf="cart.product_variant[0].attribute2">{{cart.product_variant[0].attribute2}}</span> / <span *ngIf="cart.product_variant[0].attribute3">{{cart.product_variant[0].attribute3}}</span></p>

                            </td>
                            <td class = "text-center product_quant"><div class = "product-quantity">
                              <button type="button" class = "minus" (click)="minus(cart.id, cart.price)">-</button>
                              <input type="text" #quantity class="cartqty" value="{{cart.stock}}">
                             <button type = "button" class = "plus" (click)="plus(cart.id, cart.price)">+</button>
                            </div></td>
                            <td class = "text-center"><h5>${{cart.price*cart.stock}}</h5></td>
                            <td  class = "text-end"><button type="button" (click)="deleteCartItem(cart.id)">&#10005;</button></td>
                            <!-- </div> -->
                          </tr>
                      </tbody>
                  </table>
                </div>
             </div>
        </div>
        <div class = "col-lg-4 col-12">
            <div class = "cart-checkout" *ngIf="cart.length != 0">
              <div class = "mb-3">
                <h5 class = "mb-4">Order Summary</h5>
              </div>
                <ul>
                    <hr>
                <li class = "d-flex justify-content-between py-2">
                    <p>Subtotal</p>
                    <p><span>${{cart.Totalamount}}</span></p>
                </li>
                <hr>
                <li class = "d-flex justify-content-between py-2">
                    <p>Standard Shipping</p>
                    <p><span>$10</span></p>
                </li>
                <hr>
                <li class = "d-flex justify-content-between py-2">
                    <p class = "mb-0">Total</p>
                    <h5 class = "mb-0"><span>${{cart.Totalamount+10}}</span></h5>
                </li>
                <hr>
                </ul>

                <div>
                    <button type = "button" class = "btn cart-btn green-btn" routerLink="/checkout">Continue to Checkout</button>
                </div>
            </div>
        </div>
     </div>
   </div>
</section>
<hr class = "section_hr">
