<app-header *ngIf="showHeaderFooter"></app-header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-footer *ngIf="showHeaderFooter"></app-footer>
<!-----
<h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!</h1>
<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!</h2>
<h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!</h3>
<h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!</h4>
<h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!</h5>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minima! adipisicing elit. Sunt, minima!</h6>
-->
