.form-control{
    padding: 5px 10px;
    background-color: DodgerBlue;
    color: white;
    border-color: black;
    width: 100px;
    height: 30px;
  }
  option:hover{
    background-color: white;
    color: dodgerblue;
  }