<!--------------Product List banner Start------------->
<section id = "privacy_banner">
    <div class = "container">
      <div class = "text-center">
        <h2>Privacy Policy</h2>
      </div>
    </div>
  </section>
  <!--------------Product List banner End------------->
  <hr class = "section_hr">
  <section id = "privacy_section">
    <div class="container">
      <div>
        <h2>Your Privacy at a Glance</h2>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <p [innerHTML]="page.content"></p>
        </div>
      </div>
    </div>
  </section>
  <hr class = "section_hr">
