<!--------------Product List banner Start------------->
<section id = "privacy_banner">
    <div class = "container">
      <div class = "text-center">
        <h2>Privacy Policy</h2>
      </div>
    </div>
  </section>
  <!--------------Product List banner End------------->
  <section id = "privacy_section">
    <div class="container">
      <div>
        <h2>Your Privacy at a Glance</h2>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <div>
            <p>Beni Rugs, Inc. is committed to respecting your privacy. The purpose of this Privacy Policy is to inform you what information we collect from you, how we use your information and the choices that you have regarding our use of your information. This Privacy Policy applies to information we collect about you in our stores, through our websites and mobile applications, and anywhere else we interact with you. By using any of our web sites, mobile applications, or sharing your information with us, you are accepting and consenting to the practices described in this Privacy Policy.</p>
            <p>Beni Rugs, Inc. supports and adheres to the guidelines and practices adopted by the Direct Marketing Association's Privacy Promise to American Consumers. We have agreed to (1) provide customers with notice of their ability to opt out of information rental, sale, or exchange with other marketers; (2) honor customers' requests not to share their contact information with other marketers; and (3) honor customers' requests not to receive mail, telephone, or other solicitations from Beni Rugs, Inc..</p>
          </div>
          <div>
            <h6>Collecting Information About You</h6>
            <p>We collect the following categories and types of personal information:</p>
            <ul>
              <li>We collect the following categories and types of personal information:Contact Information: your first and last name, postal address, email address, and phone number;</li>
              <li>Other identifying information: IP address, social media user names, passwords and other security information for authentication and access;</li>
              <li>Financial Information: credit card, debit card and bank account information;</li>
              <li>Demographic information: gender, age, employment information and salary information;</li>
              <li>Geolocation data;</li>
              <li>Internet or other electronic activity: your browsing and click history, including information about how you navigate within our services and which elements of our services you use the most;</li>
              <li>Audio and visual information: your videos and photos;</li>
              <li>Inferences drawn from the categories described above in order to create a profile about you to reflect your preferences, characteristics, behavior and attitude.</li>
            </ul>
            <span class = "fw-bold fst-italic">Categories of Use</span>
            <ul>
              <li>
                <span>Transactional Purposes: </span>We use your contact information, financial information, and commercial information to:
                <ul>
                  <li>Receive, process, confirm, send and track your order, subscription or registration;
                  </li>
                  <li>Communicate with you about your order, subscription or registration;
                  </li>
                  <li>Process any subscription or registration you make to one of our services;
                  </li>
                  <li>Maintain your "Gift List" through your registry</li>
                </ul>
              </li>
              <li><span>Analytical Purposes:</span> We use your other identifying information, internet activity and browsing history, commercial information, demographic information, and geolocation data to analyze preferences, trends and statistics.</li>
              <li>
                <span>Marketing and Promotional Purposes:</span> We use your contact information, commercial information, demographic information, internet or other electronic activity, geolocation data, and inferences to:
                <ul>
                  <li>Inform you of our new products, services and offers;
                  </li>
                  <li>Provide you with targeted advertising;</li>
                  <li>Run contests, promotions and sweepstakes,</li>
                  <li>Provide you with our loyalty program including earning points and awarding and redeeming certificates;</li>
                  <li>Provide you with other information from and about Beni Rugs, Inc., including personalized marketing communications.</li>
                </ul>
              </li>
              <li>
                <span>Maintenance and Improvement of Services and Website:</span> We use your contact information, commercial information, and internet activity and browsing history to:
                <ul>
                  <li>Provide and maintain our Design Lab services;</li>
                  <li>Provide and maintain functionality on our website, including our live chat or customer review features;</li>
                  <li>Handle your customer services requests;</li>
                  <li>Help us diagnose technical and service problems and administer our stores, websites and apps.</li>
                </ul>
              </li>
              <li><span>Security and Fraud Prevention:</span> We use your contact information, other identifying information, commercial information, financial information, geolocation data, internet activity and browsing history, and inferences to protect this website, our company, and others and to prevent fraud, theft and misconduct.</li>
            </ul>
          </div>
          <div>
            <h6>Sources of Personal Information</h6>
            <p>We collect information from the following sources:</p>
            <p>We collect information directly from you. We collect contact and demographic information directly from you. We also collect payment information from you.</p>
            <p>We collect information about you from third parties. We collect your personal information from third parties, such as social media sites and data co-ops. We use the Google Maps service on our web sites and may use the Google Maps service, and other services, to collect geolocation data. We use this information to create greater ease of use in our checkout, including to suggest your shipping and billing address, or to help you find the closest store location. The Google Maps service is governed by Google's privacy policy located at www.google.com/policies/privacy. We may collect your identifying information from Facebook, in accordance with their terms of use and privacy policy. We purchase from and trade contact information, demographic information, commercial information, and internet and electronic activity with data co-ops and other third party data aggregators.</p>
            <p>We collect information from you passively. We collect Internet or other electronic activity passively using tools like browser cookies. This activity is further described in the Advertising and Online Tracking section below.</p>
            <span>Combining Information</span>
            <p>We may combine information you give us online, in our stores, or through our catalogs. We may also combine that information with publicly available information and information we receive from or cross-reference with third parties. We use that combined information to enhance and personalize your shopping experience with us, to communicate with you directly about our products and events that may be of interest to you, and for other promotional and commercial purposes.</p>
          </div>
          <div>
              <h6>When We Share Information with Third Parties</h6>
              <span class = "fst-italic fw-bold">Our Service Providers</span>
              <p>We may contract with companies or persons to provide certain services including credit card processing, shipping, data analysis and management, promotional services, etc. We call them our Service Providers. We provide our Service Providers with the information needed for them to perform these services. We also ask our Service Providers to confirm that their privacy practices are consistent with ours.</p>
              <span class = "fst-italic fw-bold">Our Select Partners</span>
              <p>From time to time we might establish a business relationship with other persons or entities whom we believe trustworthy and whom we have asked to confirm that their privacy policies are consistent with ours. These are known as our Select Partners. In such cases we might rent, exchange, share and/or cross-reference information, including contact information about you that will enable such persons or entities to contact you regarding products and services that may be of interest to you. This section does not apply to mobile phone numbers and opt in consent information collected for SMS text programs. Beni Rugs, Inc. may also collect mobile phone numbers for other purposes which are subject to this section.</p>
              <span class = "fst-italic fw-bold">Our Affiliates</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class = "section_hr">