<!-----Section1 Start----->
<section id = "swatch-section1">
  <div class = "container">
    <div class = "row">
        <div class = "col-lg-7 col-12">
         <div class = "img-container">
          <img src = "{{page.swatchseimage}}" alt = "img" width="100%" height="100%">
         </div>
        </div>
        <div class = "col-lg-5 col-12">
          <div class  = "col1">
              <div>
                <h2>{{page.swatchsettitle1}}</h2>
              </div>
              <div class = "pt-4">
                <p innerHTML="{{page.swatchsedescripation}}"></p>
              </div>
              <div class = "text-center pt-4 mt-4">
                  <!-- <button type = "button" class = "btn blue-btn">Add to Cart</button> -->
              </div>

            </div>
        </div>
    </div>
  </div>
</section>
<!-----Section1 End----->
<hr class = "section_hr">
<!-----Section2 Start----->
<section id = "swatch-section2">
    <div class = "container">
      <div class = "row">

          <div class = "col-lg-5 col-12">
            <div class = "col1 text-center">
                <div>
                  <h2>{{page.pickcolorettitle1}}</h2>
                 <p>{{page.pickcoloredescripation}}</p>
                </div>
              </div>
          </div>
          <div class="col-lg-7 col-12">
            <div class="img-container">
             <img src="{{page.pickcoloreimage}}" alt = "img" width="100%" height="100%">
            </div>
           </div>
      </div>
    </div>
  </section>
<!-----Section2 End----->
<hr class = "section_hr">
<!-----Section3 Start----->
<section id="swatch-section3">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12">

        </div>
          <div class="col-lg-6 col-12">
             <div class="text-center">
                 <h2>{{page.knottedflattitle}}</h2>
                 <p innerHTML="{{page.knottedflatdescripation}}"></p>
             </div>
          </div>
          <div class="col-lg-3 col-12">

          </div>
          <div class="col-lg-6 col-12 ">
            <a routerLink="{{page.knottedflatbuttonlink1}}" class = "box">
            <div>
              <div class="img-container pt-3">
                <img src="{{page.knottedflatimage1}}" alt = "img" width="100%" height="100%">
              </div>
              <h6 class="pt-2 mb-0">{{page.knottedflatbuttonname1}}</h6>
            </div>
           </a>
           </div>
           <div class = "col-lg-6 col-12">
            <a routerLink = "{{page.knottedflatbuttonlink2}}" class = "box">
              <div>
                <div class = "img-container pt-3">
                  <img src = "{{page.knottedflatimage2}}" alt = "img" width="100%" height="100%">
                </div>
                <h6 class = "pt-2 mb-0">{{page.knottedflatbuttonname2}}</h6>
              </div>
             </a>
           </div>
      </div>
    </div>
  </section>
<!-----Section3 End----->
<hr class = "section_hr">
<!-----Section4 Start----->
<section id = "swatch-slider">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-3 col-12">

      </div>
        <div class = "col-md-6 col-12">
           <div class = "text-center">
               <h2>The Beni difference</h2>
               <p>Beni's proprietary washing technique creates a super soft, luxe texture and finish. Each finished rug is washed and dried up to 5 times.</p>
           </div>
        </div>
        <div class = "col-md-3 col-12">

        </div>
    </div>
    <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="swatchSlideConfig">
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider1.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content" >
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider2.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider3.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider4.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider5.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider6.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider7.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/swatches/swatch-slider8.jpg" width="100%">
        <div class = "overlay"></div>
      </div>
    </div>
    </ngx-slick-carousel>
  </div>
</section>
<!-----Section4 End----->
<hr class = "section_hr">
<!-----Section5 Start----->
<section class = "swatch-section5">
  <div class = "container">
  <video autoplay muted loop id="myVideo" width="100%">
      <source src="assets/video/our-process.mp4" type="video/mp4" width = >
  </video>
  <div class = "banner-content">
      <h1 class = "text-light">{{page.videotitle}}</h1>
  </div>
  </div>
</section>
<!-----Section5 End----->
