h2{
    &:after{
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 3px;
        background: #627b80;
        bottom: 0;
        margin-top: 10px;
        left: calc(50% - 20px);
    }
}

section .blue-btn{
    margin-left: 0rem;

}

/*****Main SCSS Start*****/

/**********Banner*******/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display:none;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
    animation: fade 10s infinite ease-in-out;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4;
    }
  to {
      opacity: 1;
    }
}

#trade-banner-slider {
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	.overlay{
		content: " ";
        position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
       left: 0;
       right: 0;
       bottom: 0;
	   background-color: #38494d99;

	}
	.container{
	  max-width: 700px !important;
	  position: absolute;
      height: auto;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;

	  h6{
		padding: 1rem;
	  }
	  button{
		padding: 0.8rem;
		width: 280px !important;
	  }
	}


  }

/**********Section1*******/
#trade-section1{
       .container{
           max-width: 700px !important;
           p{
              font-size:18px;
              line-height: 28px;
              font-weight: 500;
           }
           .box{
            padding: 2rem;
            padding-top: 2rem;
            background: linear-gradient(135deg, #f0f0f0 30%, #fff 30%, #fff 70%, #f0f0f0 70%);
            box-shadow: 0 0 5px #d5caca;
            form{
                .alert-danger {
                    background-color: transparent !important;
                    border: unset !important;
                    color: #ff0017;
                    padding: 0.5rem 0rem 0rem 0rem !important;
                    margin-bottom: 0rem !important;
                }

                label{
                    margin-bottom: 0.3rem;
                }
                input{
                    height: 40px;
                    border-radius: 0px;
                }
                textarea{
                    border-radius: 0px;
                }
            }
           }

           small{
               font-size: 14px;
               a{
                   &:hover{
                       text-decoration: underline;
                   }
               }
           }

       }
}

/********section2*****/

#trade-section2{
    background:#f0f0f0;
    .container{
        max-width: 700px !important;
        .accordion-item{
            background-color: transparent !important;
            border-radius: 0px;
            border: 1px solid #0000001f !important;
            margin-top: 1rem;
        .accordion-button {
            background-color: transparent !important;
            padding:1rem !important;

            h6{
                font-size: 18px !important;
                font-weight: 600 !important;
            }
            &:not(.collapsed) {
                color: #000;
                background-color: #e8e4dd;

                &::after {
                    background-image: url("/assets/img/product/minus.svg") !important;
                    transform: rotate(0deg) !important;
                }
            }
            &::after {
                background-image: url("/assets/img/product/plus.svg") !important;
                width: 1rem;
                height: 1rem;
               background-size: 1rem;
            }
            &:focus {
                z-index: 3;
                border-color: #000;
                outline: 0;
                box-shadow: unset !important;
            }
        }
        }
        .accordion-body{
            padding: 0rem 1rem !important;
        }
        .accordion-button:not(.collapsed){
            box-shadow: unset !important;
        }
    }
}
