h2{
    &:after{
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 3px;
        background: #627b80;
        bottom: 0;
        margin-top: 10px;
        left: calc(50% - 20px);
    }
}

section .blue-btn{
    margin-left: 0rem;
    
}

/*****Main SCSS Start*****/ 

/**********Banner*******/
#trade-banner{
    background-image: url("/assets/img/trade-program/trade-banner.jpg");
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    animation: change 20s infinite ease-in-out;
	@keyframes change {
		0%{
			background-image:  linear-gradient(-45deg, #38494d99, #38494d99),url("/assets/img/trade-program/trade-banner1.jpg");
		}
        25%{
			background-image:  linear-gradient(-45deg, #38494d99, #38494d99),url("/assets/img/trade-program/trade-banner2.jpg");
		}
        50%{
			background-image:  linear-gradient(-45deg, #38494d99, #38494d99),url("/assets/img/trade-program/trade-banner3.jpg");
		}
		75%{
			background-image:  linear-gradient(-45deg, #38494d99, #38494d99),url("/assets/img/trade-program/trade-banner4.jpg");
		}
		100%{
			background-image:  linear-gradient(-45deg, #38494d99, #38494d99),url("/assets/img/trade-program/trade-banner5.jpg");
		}
    }

}

/**********Section1*******/
#trade-section1{
       .container{
           max-width: 700px !important;
           p{
              font-size:18px;
              line-height: 28px;
              font-weight: 500;
           }
           .box{
            padding: 2rem;
            padding-top: 2rem;
            background: linear-gradient(135deg, #f0f0f0 30%, #fff 30%, #fff 70%, #f0f0f0 70%);
            box-shadow: 0 0 5px #d5caca;
            form{
                label{
                    margin-bottom: 0.3rem;
                }
                input{
                    height: 40px;
                    border-radius: 0px;
                }
                textarea{
                    border-radius: 0px;
                }
            }
           }

           small{
               font-size: 14px;
               a{
                   &:hover{
                       text-decoration: underline;
                   }
               }
           }
          
       }
}

/********section2*****/

#trade-section2{
    background:#f0f0f0;
    .container{
        max-width: 700px !important;
        .accordion-item{
            background-color: transparent !important;
            border-radius: 0px;
            border: 1px solid #0000001f !important;
            margin-top: 1rem;
        .accordion-button {
            background-color: transparent !important;
            padding:1rem !important;

            h6{
                font-size: 18px !important;
                font-weight: 600 !important;
            }
            &:not(.collapsed) {
                color: #000;
                background-color: #e8e4dd;
                
                &::after {
                    background-image: url("/assets/img/product/minus.svg") !important;
                    transform: rotate(0deg) !important;
                }
            }
            &::after {
                background-image: url("/assets/img/product/plus.svg") !important;
                width: 1rem;
                height: 1rem;
               background-size: 1rem;    
            }
            &:focus {
                z-index: 3;
                border-color: #000;
                outline: 0;
                box-shadow: unset !important;
            }
        }
        }
        .accordion-body{
            padding: 0rem 1rem !important;
        }
        .accordion-button:not(.collapsed){
            box-shadow: unset !important;
        }
    }
}



  
  /**==========++++++(Responsive SCSS)++++++++++============*/
  @media (max-width: 991px) {
	h2{
	  &:after{
		margin-top:5px;
	  }
	}	
	#trade-banner{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

  
}
  @media (max-width: 768px) {
	p {
	  font-size:16px !important;
	  line-height:24px !important;
	}

    .blue-btn{
        width: 200px;
        margin-top: 0rem !important;
        
    }

    #trade-banner{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    #trade-section1{
        .container{
            .box{
                padding: 1rem;
            }
        } 
    }
    
    #trade-section2{
        .container{
            .accordion-item{
                .accordion-button {
                    h6{
                        font-size: 16px !important;
                      
                    }
                }
            }
        }
    }
   
    
	
  }
  @media (max-width: 576px) {

    #trade-banner{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
	
  }  
  @media (max-width: 470px) {
	
  }
  

 

