<!---------Banner Start---------->
<section id = "trade-banner">
    <div class = "container">
       <div class = "text-center">
        <h1 class = "text-light text-capitalize">Join our trade program</h1>
       </div>
    </div>
</section>
<!---------Banner End---------->
<hr class = "section_hr">
<!---------Section1  Start---------->
<section id = "trade-section1">
    <div class = "container">
        <div class = "text-center">
            <h2>Apply Within</h2>
            <p>Accredited interior designers, hoteliers, architects, and creative studios qualify for exclusive trade pricing. Let us know a bit more about yourself below, and we'll be in touch!</p>
        </div>
        <div class ="box mt-4">
            <form>
                <div class = "row">
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                          <label class="form-label">First Name</label>
                          <input type="text" class="form-control" placeholder="Rosy" name = "firstname">
                        </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label for="exampleFormControlInput2" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name = "lastname" placeholder = "Smith">
                        </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name = "email"   aria-describedby="emailHelp" placeholder="rosysmith@gmail.com">
                        </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="1234567890" >
                          </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label for="exampleFormControlInput2" class="form-label">Company Name                            </label>
                            <input type="text" class="form-control" name = "lastname" placeholder = "Rug">
                        </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label for="exampleFormControlInput2" class="form-label">Company Website</label>
                            <input type="url" class="form-control" name = "lastname" placeholder = "https://www.benirugs.com/">
                        </div>
                    </div>
                </div>
                <div class="form-group py-3">
                  <label class="form-label">Message</label>
                  <textarea class="form-control"  name = "textarea" placeholder = "Type your message here!" rows="3" ></textarea>
                </div>
                <div class = "text-center pt-4">
                  <button type = "submit" class  = "btn blue-btn mt-4" id="button-addon2">Send Enquiry</button>
                </div>
                </form>    
        </div>
        <div class = "text-center pt-4">
            <small>If you have any questions, <br>email us at <a href="#">trade@benirugs.com</a></small>
        </div>
    </div>
</section>
<!---------Section1  End---------->
<hr class = "section_hr">
<!---------Section2  start---------->
<section>
<div class = "container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <div class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
       </div>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
    </div>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
    </div>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!---------Section2  End---------->
