
<!---------Banner Start---------->
<app-slider></app-slider>
<!---------Banner End---------->
<hr class = "section_hr">
<!---------Section1  Start---------->
<section id = "trade-section1">
    <div class = "container">
        <div class = "text-center">
            <h2>Apply Within</h2>
            <p>Accredited interior designers, hoteliers, architects, and creative studios qualify for exclusive trade pricing. Let us know a bit more about yourself below, and we'll be in touch!</p>
        </div>
        <div class ="box mt-4">
            <form [formGroup]="enquiryForm" (ngSubmit)="onsubmit()">
                <div class = "row">
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                          <label class="form-label">First Name</label>
                          <input type="text" class="form-control" placeholder="Rosy" formControlName = "firstname">
                          <div *ngIf="enquiryForm.controls['firstname'].invalid && (enquiryForm.controls['firstname'].dirty || enquiryForm.controls['firstname'].touched)"
                            class="alert alert-danger"> First name is required.
                          </div>
                        </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label for="exampleFormControlInput2" class="form-label">Last Name</label>
                            <input type="text" class="form-control" formControlName = "lastname" placeholder = "Smith">
                            <div *ngIf="enquiryForm.controls['lastname'].invalid && (enquiryForm.controls['lastname'].dirty || enquiryForm.controls['lastname'].touched)"
                            class="alert alert-danger"> Last name is required.
                          </div>
                          </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName = "email"   aria-describedby="emailHelp" placeholder="rosysmith@gmail.com">
                            <div *ngIf="enquiryForm.controls['email'].invalid && (enquiryForm.controls['email'].dirty || enquiryForm.controls['email'].touched)"
                            class="alert alert-danger">Email address is required.
                          </div>
                          </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="1234567890" formControlName="mobilenumber" >
                            <div *ngIf="enquiryForm.controls['mobilenumber'].invalid && (enquiryForm.controls['mobilenumber'].dirty || enquiryForm.controls['mobilenumber'].touched)"
                            class="alert alert-danger"> Mobile number is required.
                          </div>
                          </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label for="exampleFormControlInput2" class="form-label">Company Name                            </label>
                            <input type="text" class="form-control" formControlName = "companyname" placeholder = "Rug">
                            <div *ngIf="enquiryForm.controls['companyname'].invalid && (enquiryForm.controls['companyname'].dirty || enquiryForm.controls['companyname'].touched)"
                            class="alert alert-danger"> Company name is required.
                          </div>
                          </div>
                    </div>
                    <div class = "col-md-6 col-sm-6 col-12">
                        <div class="form-group py-3">
                            <label for="exampleFormControlInput2" class="form-label">Company Website</label>
                            <input type="url" class="form-control" formControlName = "companywebsite" placeholder = "https://www.benirugs.com/">
                            <div *ngIf="enquiryForm.controls['companywebsite'].invalid && (enquiryForm.controls['companywebsite'].dirty || enquiryForm.controls['companywebsite'].touched)"
                            class="alert alert-danger">Company website is required.
                          </div>
                          </div>
                    </div>
                </div>
                <div class="form-group py-3">
                  <label class="form-label">Message</label>
                  <textarea class="form-control"  formControlName = "message" placeholder = "Type your message here!" rows="3" ></textarea>
                  <div *ngIf="enquiryForm.controls['message'].invalid && (enquiryForm.controls['message'].dirty || enquiryForm.controls['message'].touched)"
                            class="alert alert-danger"> Message is required.
                          </div>
                </div>
                <div class = "text-center pt-4">
                  <button type="submit" class="btn blue-btn mt-4" id="button-addon2">Send Enquiry</button>
                </div>
                </form>
        </div>
        <div class = "text-center pt-4">
            <small>If you have any questions, <br>email us at <a href="#">trade@benirugs.com</a></small>
        </div>
    </div>
</section>
<!---------Section1  End---------->
<hr class = "section_hr">
<!---------Section2  start---------->
<section id = "trade-section2">
<div class = "container">
  <div class ="text-center mb-4">
      <h2>FAQ</h2>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <div class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h6>What is the Beni trade program?</h6>
        </button>
       </div>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <p>The Beni trade program was created to ensure that we offer the highest level of service to design professionals who love hand crafted Moroccan rugs. With exclusive discounts and custom design services, our team is here help.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h6>Who can join the Beni trade program?</h6>
        </button>
    </div>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
           <p>Accredited interior designers, architects, creative studios, and hospitality owners are all welcome here.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h6>How do I start using my discount?</h6>
        </button>
    </div>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>We'll provide you with a unique discount code upon approval. That way you can checkout directly through our website. Or, if you prefer, we're also happy to work directly with you to plan and place orders.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h6>How long is my membership valid?</h6>
        </button>
    </div>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>We evaluate all members of our trade program on an annual basis.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h6>Do you offer a program for large-scale purchases?</h6>
        </button>
    </div>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>For large-scale purchases, please email us at <a href = "#">bonjour@benirugs.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!---------Section2  End---------->
<hr class = "section_hr">
