<!--------------Product List banner Start------------->
<section id = "terms_banner">
    <div class = "container">
     <div class = "text-center">
       <h1 class = "text-light">Terms & Conditions</h1>
     </div>
    </div>
</section>
<!--------------Product List banner End------------->

<section id = "terms_section">
  <div class="container">
    <div>
      <h2>Current Policy</h2>
    </div>
    <div class = "row">
      <div class = "col-md-12">
        <p class = "term_content" [innerHTML]="page.content"></p>
      </div>
    </div>
  </div>
</section>
<hr class = "section_hr">

