@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  position: relative;
  font-family: 'Raleway', sans-serif !important;
  color: #424242;
  font-size: 14px;
  overflow-x: hidden;
  font-weight: 500;
}

html,body {
  height: 100%;
  width: 100%;

}

html {
  font-size: 16px;
}

.modal {
  overflow-y: auto !important;
}

h6,.h6, h5,.h5, h4,.h4, h3,.h3, h2,.h2, h1,.h1 {
    font-family: 'Raleway', sans-serif !important;
  color: #000;
  font-weight: 600 !important;
}


h1, .h1 {
    font-size: 50px !important;
    line-height: 55px !important;
    letter-spacing: 1px;
  }

  h2, .h2 {
    font-size: 40px !important;
    line-height: 45px !important;
    letter-spacing: 0px;
  }

  h3, .h3 {
    font-size: 28px !important;
    line-height: 35px !important;
  }

  h4, .h4 {
    font-size: 24px !important;
    line-height: 30px !important;
  }

  h5, .h5 {
    font-size: 20px !important;
    line-height: 22px !important;
  }

  h6, .h6 {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0.07rem;
  }

.row:before, .row:after {
  display: none !important;
}
.btn{
  font-family: 'Raleway', sans-serif !important;
}

p {
  font-family: 'Raleway', sans-serif !important;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

ul{
  padding-left:0rem !important;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: #000 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1140px !important;
}

button {
  font-family: 'Poppins', sans-serif !important;
}

input:focus-visible {
  outline: unset;
}

input:focus {
  border-color: #888888 !important;
  outline: unset !important;
  box-shadow: unset !important;
}

textarea:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.btn:focus {
  box-shadow: unset !important;
}

.form-control{
  border-color: #888888 !important;
}
.form-control:focus{
  border-color: #888888 !important;
}

select:focus{
  border-color: #888888 !important;
  box-shadow: unset !important;
}

.form-select{
  font-size: 14px !important;
  color:#888888 !important;
  border-color: #888888 !important;
}



::placeholder {
  color: #888888 !important;
  font-size: 14px;
}

form input {
  font-weight: 400 !important;
  font-size: 14px !important;
  height: 30px;
  border-color: #888888 !important;
  ;
}

.modal-dialog .modal-content {
  border: none !important;
  border-radius: 20px !important;
}

hr{
  margin:0rem !important;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.black-btn{
  color: #000;
  background-image: url("assets/img/banner-btn.png");
  border-radius: 50px;
  font-weight: 800;
  background-position: center;
  text-transform: uppercase;
  font-size: 20px;
  width: 200px !important;
}

.black-btn:hover{

	background: #00000080 !important;
	color:#fff;
}

.green-btn{
  background-color: #627b80;
  color: #fff;
}

.green-btn:hover{
	background-color: #506b71;
	color: #fff;
  }

.blue-btn{
  font-weight: 800;
  color: #000;
  background: url("assets/img/rug-btn.png");
  background-position: center;
  background-size:cover;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  width: 200px;
  transition: 0.5s;

}

section .blue-btn{
  padding:1rem;
  margin-left: 1rem;
}

section .blue-btn:hover{
	color: #000 !important;
  transform: translateX(10px);

}

hr{
	background-color: #0000001f !important;
	opacity: 1 !important;
}


/*================(Main CSS Start)=============*/
/*************Page 404 CSS Starts**********/
#page_404{
	background-color: #efefef;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/*************Page 404  CSS Ends**********/
/*************Header CSS Starts*********/
#header {
	.navbar {
		img {
			width: 150px;
		}
		.nav-item {
			.nav-link {
				color: #627b80;
				font-weight: 600;
			}
			.nav-link.active {
				background-color: transparent !important;
				border-bottom: 2px solid #627b80;
				border-radius: 0px;
			}
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.navbar-toggler-icon{
			width: 1em;
			height: 1em;
		}

		.navbar-toggler{
			border: 3px solid #1a1a1a;
			height: 40px;

			&:focus{
				box-shadow: unset !important;
			}
		}
	}
	svg {
		width: 60px;
		height: 60px;
	}

	.login_signup_btn{
	
		padding-top: 1rem;
	}

	.login_signup_btn li a{
		font-weight: 600;
		color: #627b80 !important;
		padding: 0.5rem; 
		}
}


.dropbtn {
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.dropdown-content {
			display: block;
		}
	}
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #e8e4db;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		&:hover {
			background-color: #ddd;
		}
	}


}

/*************Header CSS Ends*********/

/***************Footer Css Starts*******/
.top-footer {
	background-color: #e7e3dc;
	padding-top: 4rem;
	padding-bottom: 4rem;
	.navbar-nav {
		.nav-item {
			.nav-link {
				font-weight: 600;
				font-size: 14px;
				&:hover {
					color: #627b80 !important;
				}
				&:focus {
					color: #627b80 !important;
				}
			}
		}
	}
	.col-lg-3 {
		width: 23%;
		&:first-child {
			width: 31%;
		}
	}
	svg {
		margin-right: 10px;
		width: 20px;
		height: 20px;
	}
	.contact_details h6{
    padding-top: 0.5rem;
	}
}
.bottom-footer {
	background-color: #000;
	p {
		color: #fff;
	}


}

/************Footer CSS Ends*********/

/*************Banner CSS Starts*******/
#banner-section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	background: linear-gradient(-45deg, rgb(56 73 77 / 50%), rgb(56 73 77 / 50%)), url(assets/img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.container {
		max-width: 1100px !important;
		width: 100%;
	}
	h1 {
		color: #fff;
	}
	h6 {
		color: #fff;
	}
	button {
		padding: 0.8rem;
		width: 150px;
	}
}

/*************Banner CSS Ends*********/
#section1 {
	background-image: url("assets/img/sec-bg1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	p{
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
  .col-md-6:last-child{
    padding-top: 3rem;
  }
	button {
		i {
			padding-left: 10px;
		}
	}
	.sec1-img {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:after {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:hover {
			&:after {
				background-color: rgba(0, 0, 0, 0.2);
				top: 50%;
				bottom: 50%;
			}
			&:before {
				background-color: rgba(255, 255, 255, .2);
				right: 50%;
				left: 51%;
			}
		}
	}
}

/**********Section 2 css Starts********/

#section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
/******Section3 css Ends***********/
/******Section3 css start***********/
#section3 {
	.container {
		max-width: 800px !important;
		width: 100%;
	}
	p{
		padding-left: 2rem;
	}
	margin-top: -10rem;
	background-image: transparent;
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
	.box {
		z-index: 100000;
		padding: 1.5rem;
		background-color: #e7e3dc;
	}
}

/***********Section3 css End********/
/***********Section4 css Start********/
#section4 {
	background-image: url("assets/img/sec-bg2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	p{
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
  .sec4-img {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:after {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:hover {
			&:after {
				background-color: rgba(0, 0, 0, 0.2);
				top: 50%;
				bottom: 50%;
			}
			&:before {
				background-color: rgba(255, 255, 255, .2);
				right: 50%;
				left: 51%;
			}
		}
	}
}
/***********Section4 css End********/
/************Section 5 CSS Start************/
#section5 {
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	.title {
		color: #1a1a1a;
		text-align: center;
		margin-bottom: 10px;
	}
	.content {
		-webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		-moz-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		-ms-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		position: relative;
		width: 100%;
		margin: auto;
		overflow: hidden;
		.content-overlay {
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
		}
		&:hover {
			.content-overlay {
				opacity: 1;
			}
			.content-details {
				top: 50%;
				left: 50%;
				opacity: 1;
			}
		}
	}
	.content-image {
		width: 100%;
		object-fit: cover;
	}
	img {
		box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}
	.content-details {
		position: absolute;
		text-align: center;
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
		top: 50%;
		left: 50%;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		h3 {
			text-transform: uppercase;
			color: #fff;
		}
		button {
			color: #fff;
			border: 1px solid #fff;
			border-radius: 0px;
		}
	}
}

/************section 5 css ends*********/

/************section 6 css start*********/
#section6 {
	p {
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
	img {
		height: 600px;
		object-fit: cover;
	}
	.col-md-4.col-12 {
		padding-top: 9rem;
	}
	.hover-effect {
		position: relative;

		img{
			width: 100%;
			object-fit: cover;
		}
		&::before {
			right: 0;
			opacity: 0.8;
			top: 0;
			content: "";
			background: #000;
			height: 0;
			width: 0;
			z-index: 1;
			position: absolute;
			-webkit-transition-duration: 1.3s !important;
			-o-transition-duration: 1.3s;
			transition-duration: 1.3s !important;
		}
		&::after {
			bottom: 0;
			opacity: 0.7;
			left: 0;
			content: "";
			background: #000;
			height: 0;
			width: 0;
			z-index: 1;
			position: absolute;
			-webkit-transition-duration: 1.3s !important;
			-o-transition-duration: 1.3s;
			transition-duration: 1.3s !important;
		}
		&:hover {
			&::after {
				height: 100%;
				opacity: 0;
				width: 100%;
			}
			&::before {
				height: 100%;
				opacity: 0;
				width: 100%;
			}
		}
	}

}

/***********section 6 css ends**********/

/***********section 7 css starts**********/
#section7 {

	p{
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
	.card {
		border: none;
		border-radius: 10px;
		background-color: #e7e3dc;
	}
	.col-left {
		padding-top: 10rem;
	}
	.card_img {
		width: 100%;
		margin: 0;
		padding: 0;
		background: #fff;
		overflow: hidden;
		&:hover+span {
			bottom: -36px;
			opacity: 1;
		}
		img {
			filter: grayscale(100%);
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		&:hover {
			img {
				filter: grayscale(0%);
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	}
}
/**************Section 7  css ends************/

/**************Section 8  css Start ************/
#section8 {
	background-image: linear-gradient(-45deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url("assets/img/sec8-bg.jpg");
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-attachment: fixed;
	h2 {
		color: #fff;
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #fff;
			bottom: 0;
			left: calc(48% - 20px);
			text-align: center;
			margin-top: 10px;
		}
	}
	h6 {
		color: #fff;
	}
}
#section-slider {
	margin-top: -10rem;
	.box {
		margin: 1rem;
		box-shadow: 0 0 10px #3333336e;
		padding: 1rem;
		border: 1px solid #fff;
	}
	img {
		width: 100%;
		object-fit: cover;
	}
	.slick-arrow{
		display: none !important;
	}
}


/**************Section 8 css End ************/

/*=============(Signup & Login CSS Starts)===============*/

/************Signup css*********/
#signup {
	background-image: url("assets/img/signup-bg.jpg");
	background-attachment: fixed;
	.container {
		max-width: 600px !important;
		width: 100%;
	}
	.box {
		position: relative;
		background-color: #fff;
		margin: 3rem;
		padding: 2rem;
		box-shadow: 0 0 10px #0000004a;
		border-radius: 20px;
		input {
			height: 40px;
		}
		.blue-btn {
			width: 200px;
			cursor: pointer;
			margin-top: 1rem;
		}
		button.btn {
			// &:disabled {
			// 	pointer-events: auto;
			// 	opacity: 1;
			// }
			font-weight: 800;
		}
		.background {
			.shape {
				height: 100px;
				width: 100px;
				position: absolute;
				border-radius: 50%;
			}
		}
		.shape {
			&:first-child {
				background-image: url("assets/img/sign-shape.jpg");
				left: -40px;
				top: -40px;
				background-size: contain;
			}
			&:last-child {
				background-image: url("assets/img/sign-shape.jpg");
				right: -40px;
				bottom: -40px;
				background-size: contain;
			}
		}
		.alert-danger {
			background-color: transparent !important;
			border: unset !important;
			color: #ff0017;
			padding: 0.5rem 0rem 0rem 0rem !important;
		}
		p {
			font-weight: 500;
		}
	}
}

/************login css*********/

#login {
	background-image: url("assets/img/signup-bg.jpg");
	background-attachment: fixed;
	.container {
		max-width: 600px !important;
		width: 100%;
	}
	.box {
		position: relative;
		background-color: #fff;
		margin: 3rem;
		padding: 2rem;
		box-shadow: 0 0 10px #0000004a;
		border-radius: 20px;
		input {
			height: 40px;
		}
		.blue-btn {
			width: 200px;
			cursor: pointer;
			margin-top: 1rem;
		}
		// button.btn {
		// 	&:disabled {
		// 		pointer-events: auto;
		// 		opacity: 1;
		// 	}
		// }
		.background {
			.shape {
				height: 100px;
				width: 100px;
				position: absolute;
				border-radius: 50%;
			}
		}
		.shape {
			&:first-child {
				background-image: url("assets/img/sign-shape.jpg");
				left: -40px;
				top: -40px;
				background-size: contain;
			}
			&:last-child {
				background-image: url("assets/img/sign-shape.jpg");
				right: -40px;
				bottom: -40px;
				background-size: contain;
			}
		}
	}
}

/*****=================(product Page Scss)=============*******/
#product-listing{
   .card{
	   position: relative;
	   height: 100%;
	   &:hover{
		box-shadow: -3px -3px 15px 3px #5b7577, 3px 3px 15px 3px #5b7577;

		h5{
			text-decoration: underline;
		}

		.content-overlay {
			background: rgba(0, 0, 0, 0.3);
			position: absolute;
			height: 230px;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
			
		   }

	   }
	   .product_content{
		   padding:1rem 0.5rem;
		h5{
			text-transform: uppercase;

		}
		h6{
			font-size: 18px !important;
		}
	   }

	   &:hover .content-overlay{
		opacity: 1;
	 }
  
	   img{
		   width: 100%;
		   height: 230px;
		   object-fit: cover;
		   
	   }
	  
   }
   .col-md-3{
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
  }
}
/*****=================(product Page Scss)=============*******/
#product-details {
	background-color: #e8e4dd;

	 p{
     font-size: 14px;
	 
	}
	.accordion-item{
		background-color: transparent !important;
	.accordion-button {
		background-color: transparent !important;
		padding: 0rem 1rem !important;
		&:not(.collapsed) {
			color: #000;
			background-color: #e8e4dd;
			box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
			&::after {
				background-image: url("assets/img/product/minus.svg") !important;
				transform: rotate(0deg) !important;
			}
		}
		&::after {
			background-image: url("assets/img/product/plus.svg") !important;
		}
		&:focus {
			z-index: 3;
			border-color: #000;
			outline: 0;
			box-shadow: unset !important;
		}
	}
}
	.product-quantity {
		input {
			height: 50px;
			width: 50px;
			text-align: center;
			font-size: 40px !important;
			vertical-align: middle;
			padding: 0px !important;
			border: none;
			background: transparent;
		}
		button {
			width: 30px;
			height: 30px;
			background: #fff;
			padding: 0px 8px 8px 8px;
			border: 2px solid rgb(29, 29, 29);
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			border-radius: 25px;
			font-size: 20px;
			background: transparent;
			line-height: 26px;

		}

		.minus{
			line-height: 25px;
		}
	}
	

	.product-dropdown{
		.dropdown{
			width: 100%;
			button{
				width: 100%;
			}
		}

		
	}
}


#product-details {
	.add_cart {
		background-color: #000;
		padding: 16px;
		font-size: 16px;
		border-radius: 0px;
		border: 1px solid #000;
		color: #fff;
		width: 100%;
	}
	.color_choose {
		button {
			width: 30px;
			height: 30px;
			&:hover {
				opacity: 0.5;
			}
		}
		.selected {
			border: 2px solid #000;
		}
	}
	.choose_size {
		li {
			margin: 2px;
			border-radius: 0px !important;
			border: 1px solid #000;
			width: 60px;
			height: 35px;
			color: #000 !important;
			font-size: 13px;
		}
		.selected {
			border: 2px solid #000;
		}
	}
	.button_list {
		display: contents;
	}
	.choose_tassels {
		ul {
			li {
				margin-top: 4px;
				margin-bottom: 4px;
			}
		}
		.button_list {
			li {
				margin: 2px;
				position: relative;
				width: auto;
			}
		}
		[type="radio"] {
			&:checked {
				position: absolute;
				left: -9999px;
				+ {
					label {
						position: relative;
						padding-left: 32px;
						cursor: pointer;
						line-height: 20px;
						display: inline-block;
						color: #000;
						padding-top: 4px;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 25px;
							height: 25px;
							border: 1px solid #000;
							background: transparent;
						}
						&:after {
							content: " ";
							position: absolute;
							left: 9px;
							top: 4px;
							width: 8px;
							height: 15px;
							border: solid #627b80;
							border-width: 0 3px 3px 0;
							-webkit-transform: rotate(50deg);
							-ms-transform: rotate(50deg);
							transform: rotate(50deg) !important;
							opacity: 1;
							-webkit-transform: scale(1);
							transform: scale(1);
						}
					}
				}
			}
			&:not(:checked) {
				position: absolute;
				left: -9999px;
				+ {
					label {
						position: relative;
						padding-left: 32px;
						cursor: pointer;
						line-height: 20px;
						display: inline-block;
						color: #000;
						padding-top: 4px;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 25px;
							height: 25px;
							border: 1px solid #000;
							background: transparent;
						}
						&:after {
							content: " ";
							position: absolute;
							left: 9px;
							top: 4px;
							width: 8px;
							height: 15px;
							border: solid #627b80;
							border-width: 0 3px 3px 0;
							-webkit-transform: rotate(50deg);
							-ms-transform: rotate(50deg);
							transform: rotate(50deg) !important;
							opacity: 0;
							-webkit-transform: scale(0);
							transform: scale(0);
						}
					}
				}
			}
		}
	}
	.nav-tabs {
		.nav-link {
			border: 1px solid #000;
			border-radius: 0px;
			color: #000;
		}
		border: none !important;
	}
}
.product-dropdown {
	table {
		border-color: #000 !important;
		td {
			padding: 0px !important;
			border-color: #000;
		}
	}
}


 

/**************Product Swatch*********/
#product_swatch {
	background: linear-gradient(230deg, #fff 55% , #e8e4dd 0);
	img {
		width: 100%;
	}
	h2{
		&:after{
			content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #627b80;
    bottom: 0;
    left: calc(48% - 20px);
    text-align: center;
    margin-top: 10px;
		}
	}
	.col-lg-5 {
		&:last-child {
			padding-top: 4rem;
		}
	}
	button.blue-btn {
		width: 300px;
		padding: 2rem 1rem;
		font-size: 20px;
	}
	h1 {
		position: relative;
		display: inline-block;
		&:hover {
			&::after {
				content: " ";
				background-color: #000;
				height: 5px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -5px;
				width: auto;
			}
		}
	}
}

/********product details slider******/
#product-detail-slider {
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			left: calc(48% - 20px);
			text-align: center;
			margin-top: 10px;
		}
	}
	.product-card {
		margin: 1rem;
		text-align: center;
		img {
			width: 100%;
			height: 350px;
			object-fit: contain;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 45%;
		background-image: url("assets/img/product/arrow-bg.png");
		color: #fff;
		font-size: 20px;
		vertical-align: middle;
		height: 40px;
		width: 30px;
		z-index: 1000;
		text-align: center;
		cursor: pointer;
		background-size: cover;
		background-position: center;
	}
	.arrow_right.slick-arrow {
		right: -25px;
	}
	.arrow_left.slick-arrow {
		left: -25px;
	}
}


/******Product Our Process CSS****/

/******Product Contact CSS****/
#product-contact {
	background-color: #627b8052;
	padding-top: 10rem;
	padding-bottom: 10rem;
	.container {
		width: 750px !important;
		max-width: 100% !important;
		.blue-btn {
			width: 300px;
			padding: 2rem 1rem;
			font-size: 20px;
		}
	}
}

/******Product our process CSS****/
#product_our_process{
	background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/product/product-our-process.jpg);
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#product_our_process .container{
	max-width: 750px !important;
}

#product_our_process .container h2{
	color: #fff;
}

#product_our_process .container p{
	color: #fff;
}

#product_our_process .blue-btn{
	width: 300px;
	padding: 2rem 1rem;
	font-size: 20px;
	
}

/**************Product Page scss Ends*********/

/************Breadcrumb scss starts********/

.breadcrumb_section{
border-top:1px solid #e8e4dd;
border-bottom: 1px solid #e8e4dd;
}

.breadcrumbs {
	ol {
		margin-top: 4px;
		margin-bottom: 0px;
	}
	li {
		i {
			padding: 0px 10px;
		}
	}
}
.breadcrumb-item {
	a {
		font-weight: 500;
		text-decoration: none;
		color: #000;
		font-size: 14px;
		&:hover {
			color: #000;
		}
	}
}
.breadcrumb-item.active {
	font-size: 14px;
	line-height: 22px;
	color: #8E8E8E;
}

/***********Breadcrumb scss ends***********/

/*===========Cart Page CSS Starts============*/
#cart-section{
	background-color: #f0f0f0;
}


#cart-section .col-lg-7{
	border-right: 1px solid ;
	border-color:#0000001f;
	
}



#cart-section .cart-item{
	padding:2rem;
}
#cart-section .cart-item table{
	width: 100%;
}
#cart-section .cart-item img{
	width: 100px;
	height: 100px;
	object-fit: contain;
}

#cart-section .cart-item button{
	border:none;
	background-color: transparent;
	padding: 0px;
}

#cart-section .cart-product-img{
	width: 120px;
}

#cart-section .cart-item p{
	font-size: 13px;
}
#cart-section .cart-item button i{
	font-size: 22px;
	color: #667e8494;
}

#cart-section .cart-checkout{
	padding:2rem;
	padding-top: 5rem;
}
#cart-section .cart-checkout p{
	margin-bottom: 0rem;
}

#cart-section .cart-checkout p span{
font-weight: 600;
font-size: 22px;
}

#cart-section .cart-checkout h5 span{
	font-size: 28px;
}


#cart-section .cart-checkout .cart-btn{
	margin-top: 1rem;
	width: 100%;
	text-align: center;
	border-radius: 0px;
	padding:1rem;
}

#cart-section hr{
	margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

#cart-section .product-quantity {
	input {
		height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px !important;
    vertical-align: middle;
    padding: 0px !important;
    border: none;
    background: transparent;
	}
	button {
		width: 25px;
		height: 25px;
		background: #fff;
		padding: 0px 8px 8px 5px !important;
		border: 2px solid rgb(29, 29, 29);
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		border-radius: 25px;
		font-size: 18px;
		background: transparent;
		line-height: 22px;

	}

	.minus{
		line-height:20px;
		padding-left: 7px;
	}
}


/***===============Checkout Page Scss===========***/

#checkout_section{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background:#f0f0f0;
}


#checkout_section .nav-tabs{
	border:none;
}

#checkout_section .nav-item.active{
	font-weight: 600;
}
#checkout_section .col1{
	padding:0rem 2rem;
}

#checkout_section .col1 h5{
	margin-bottom: 0.5rem;
}

#checkout_section nav span {
    padding-top: 10px;
}
#checkout_section .ship_address{
	border-radius: 10px;
	padding:1rem;
border:1px solid #888888;
background-color: #627b8061;
}

#checkout_section input.form-control{
	height: 35px !important;
}

#checkout_section .payment_method{
	border-radius: 10px;
	padding:1rem;
border:1px solid #888888;
background-color: #627b8061;
}



#checkout_section .information_check_box{
	padding-top:10px;
  }
  #checkout_section  .information_check_box .contant {
	display: block;
	position: relative;
	padding-left: 33px;
	padding-top: 5px;
	cursor: pointer;
	font-weight: 500;
	font-size: 0.74rem;
	color: #adadad;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  #checkout_section .information_check_box .contant input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  /* Create a custom checkbox */
  #checkout_section  .information_check_box .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #fff;
	border-radius:5px !important;
	border: 1px solid #888888;
  }
  /* On mouse-over, add a grey background color */
  #checkout_section .information_check_box .contant:hover input ~ .checkmark {
		background-color: transparent;
  }
  /* When the checkbox is checked, add a blue background */
  #checkout_section  .information_check_box .contant input:checked ~ .checkmark {
	background-color: #627b80;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  #checkout_section .information_check_box .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  /* Show the checkmark when checked */
  #checkout_section  .information_check_box .contant input:checked ~ .checkmark:after {
	display: block;
  }
  /* Style the checkmark/indicator */
  #checkout_section .information_check_box .contant .checkmark:after {
	left: 6px;
    top: 2px;
    width: 7px;
    height: 14px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }



  #checkout_section .already_login_heading p {
    margin-bottom: 0px;
    float: right;
    
    font-size: 12px;
    font-weight: 600;
}

#checkout_section .already_login_heading p a{
	color: #627b80 !important;
	font-size: 14px;
	font-weight: 700;
}

#checkout_section .checkout-btn{

	margin-top: 1rem;
	width: 100%;
	text-align: center;
	border-radius: 0px;
	padding:1rem;

}


#checkout_section .payment_method .check_box {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 1rem;
	cursor: pointer;
	font-size: 14px;
	color:#0c1011b8;
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
  }
  

  #checkout_section .payment_method label img{
	  width: 50px;
	  float: right;
  }

  #checkout_section .payment_method label i{
	font-size: 20px;
	float: right;
}
  /* Hide the browser's default radio button */
  #checkout_section .payment_method .check_box  input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  #checkout_section .payment_method .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 1px solid #888888;
  }
  
  #checkout_section .payment_method .check_box  input:checked ~ .checkmark {
	background-color: #406372;
  }
  
  #checkout_section .payment_method .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  #checkout_section .payment_method  .check_box  input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  #checkout_section .payment_method .check_box  .checkmark:after {
	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
  }


.ship_add{
padding:1rem;
border:1px solid #888888;
border-radius: 10px;
}

.ship_add table{
		width: 100%;
	}

.ship_add table  td:last-child a{
	font-size: 14px;
	font-weight: 700;
	color: #627b80 !important;
}


.pay_btn .btn1{
	margin-top: 1rem;
	width: 55%;
	text-align: center;
	border-radius: 0px;
	padding:1rem;
}

.pay_btn .btn2{
	margin-top: 1rem;
   text-align: center;
   padding: 1rem;
   width: 45%;
   color: #667e84;
   font-weight: 700;
}

.checkout_product{
	height: 300px;
	overflow-y: scroll;
	
}
.checkout_product::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.checkout_product::-webkit-scrollbar
{
	width:0px;
	background-color: #F5F5F5;
	
}

.checkout_product::-webkit-scrollbar-thumb
{
	border-radius: 10px;

}


.checkout_product table{
	width: 100%;
}

.checkout_product table tr td:first-child{
	width: 110px;
}

.checkout_product table tr td img{
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.checkout_product table tr td p{
	font-size: 13px;
}

.checkout_product table tr td:last-child button{
	border: none;
    background-color: transparent;
    padding: 0px;
}
.checkout_product table tr td:last-child button i{
	font-size: 22px;
    color: #667e8494;
}


.checkout_payment{
	padding:1rem  0rem;
}

.checkout_payment button{margin-top: 1rem;
	width: 100%;
	text-align: center;
	border-radius: 0px;
	padding:1rem;
}





 
     



  






/****=============(Responsive SCSS)============******/

@media(max-width:991px) {
	h1, .h1 {
		font-size: 40px !important;
		line-height: 46px !important;
	  }
	  h2, .h2 {
		font-size: 32px !important;
		line-height: 36px !important;
	  }
	  h3, .h3 {
		font-size: 26px !important;
		line-height: 32px !important;
	  }
	  h4, .h4 {
		font-size: 20px !important;
		line-height: 26px !important;
	  }
	  h5, .h5 {
		font-size: 18px !important;
		line-height: 25px !important;
	  }
	  h6, .h6 {
		font-size: 16px !important;
		line-height: 20px !important;
	  }

	section {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	footer .top-footer .col-lg-3.col-md-6.col-sm-6.col-12{
		width: 50%;
	}


	#section1 .col-md-6:last-child {
		padding-top: 1rem;
	}

	.sec1-col2{
		padding-bottom:1rem;
	}

	#section1 {
		background-image: unset;
	}

	#section1 .col-md-6:last-child {
		background-image: url("assets/img/sec-bg2.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}

	#section7 .col-left {
		padding-top: 0rem;
	}

	#section7 .col-lg-6.col-md-6.col-12{
		margin-top: 1.5rem;
		padding-top: 0rem !important;
	}

	#section6 .hover-effect {
		position: relative;
		margin: 0.7rem 0rem;
	}

	#cart-section .cart-item {
		padding: 0rem;
	}

	#cart-section .cart-item {
		padding: 0rem;
	}

	#cart-section .cart-checkout{
		padding:0rem;
		padding-top: 3rem;
	}

	#cart-section .col-lg-7{
		border:none;
	}

  }

  @media(max-width:768px) {
	h1, .h1 {
		font-size: 40px !important;
		line-height: 46px !important;
	  }
	  h2, .h2 {
		font-size: 32px !important;
		line-height: 36px !important;
	  }
	  h3, .h3 {
		font-size: 26px !important;
		line-height: 32px !important;
	  }
	  h4, .h4 {
		font-size: 20px !important;
		line-height: 26px !important;
	  }
	  h5, .h5 {
		font-size: 18px !important;
		line-height: 25px !important;
	  }
	  h6, .h6 {
		font-size: 17px !important;
		line-height: 24px !important;
	  }
	p {
	  font-size: 14px;
	  line-height: 21px;
	}

	#section6 .col-md-4.col-12 {
		padding-top: 1rem;
	}

	.top-footer .col-md-3 {
		width: 50%;
	}

	#section7 .card{
      width: 300px;
	}

	#section7 .col-lg-6.col-md-6.col-12{
		display: flex;
		justify-content: center;
	}

	#section6 .hover-effect{
		padding:0.7rem 0rem;
	}

	.blue-btn{
		font-size: 16px;
		width: 150px;
	}

	#banner-section {
	padding-top: 8rem;
	padding-bottom: 8rem;
	}

	#section-slider {
		margin-top: -9rem;
	}

	.black-btn{
		font-size: 16px;
		width: 180px !important;
		line-height: 20px;
	}

	#section3{
		margin-top: -15rem;
	}

	.top-footer .col-md-3:first-child {
		width: 50%;
	}

	#header .navbar img {
		width: 100px;
	}

	#product-detail-slider .arrow_left.slick-arrow {
		left: 0px;
	}

	#product-detail-slider .arrow_right.slick-arrow {
		right: 0px;
	}

  }

  @media(max-width:576px) {
	h1, .h1 {
		font-size: 38px !important;
		line-height: 46px !important;
	  }
	  h2, .h2 {
		font-size: 30px !important;
		line-height: 33px !important;
	  }
	  h3, .h3 {
		font-size: 24px !important;
		line-height: 32px !important;
	  }
	  h4, .h4 {
		font-size: 20px !important;
		line-height: 26px !important;
	  }
	  h5, .h5 {
		font-size: 17px !important;
		line-height: 24px !important;
	  }
	  h6, .h6 {
		font-size: 16px !important;
		line-height: 23px !important;
	  }
	footer .top-footer .col-lg-3.col-md-6.col-sm-6.col-12:first-child{
		width: 100%;
	}

	footer .top-footer .col-lg-3.col-md-6.col-sm-6.col-12{
		width: 100%;
		padding:16px 12px;
	}




	#banner-section {
		padding-top: 6rem;
		padding-bottom: 6rem;
		}

		#section8{
			padding-top: 5rem;
			padding-bottom: 5rem;
		}

		#section-slider {
			margin-top: -8rem;
		}

		#section3{
			margin-top: -20rem;
		}
		#cart-section .cart-item img {
			width: 70px;
			height: 70px;
		}
		#cart-section .cart-product-img{
			width: 80px;
		}
		#cart-section .cart-item p {
			font-size: 11px;
			line-height: 15px;
		}

  }

  @media(max-width:470px) {
	h1, .h1 {
		font-size: 36px !important;
		line-height: 44px !important;
	  }
	  h2, .h2 {
		font-size: 28px !important;
		line-height: 33px !important;
	  }
	  h3, .h3 {
		font-size: 20px !important;
		line-height: 28px !important;
	  }
	  h4, .h4 {
		font-size: 18px !important;
		line-height: 25px !important;
	  }
	  h5, .h5 {
		font-size: 16px !important;
		line-height: 23px !important;
	  }
	  h6, .h6 {
		font-size: 15px !important;
		line-height: 22px !important;
	  }
	#section7 .card_img img {

		transform: scale(1);


	}

	#section6 img {
	height: 450px;
	}

	#section-slider {
		margin-top: -7rem;
	}


  }

  @media(max-width:360px) {
	h1, .h1 {
	  font-size: 36px !important;
	  line-height: 44px !important;
	}
	h2, .h2 {
	  font-size: 28px !important;
	  line-height: 33px !important;
	}
	h3, .h3 {
	  font-size: 20px !important;
	  line-height: 28px !important;
	}
	h4, .h4 {
	  font-size: 18px !important;
	  line-height: 25px !important;
	}
	h5, .h5 {
	  font-size: 16px !important;
	  line-height: 23px !important;
	}
	h6, .h6 {
	  font-size: 15px !important;
	  line-height: 22px !important;
	}

	#banner-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
		}




  }

  @media (min-width: 768px) {



  }

  @media(min-width:991px) {

  }



  @media (min-width: 576px) {


  }




