@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  position: relative;
  font-family: 'Raleway', sans-serif !important;
  color: #424242;
  font-size: 14px;
  overflow-x: hidden;
  font-weight: 500;
}

html,body {
  height: 100%;
  width: 100%;

}

html {
  font-size: 16px;
}

.modal {
  overflow-y: auto !important;
}

h6,.h6, h5,.h5, h4,.h4, h3,.h3, h2,.h2, h1,.h1 {
    font-family: 'Raleway', sans-serif !important;
  color: #000;
  font-weight: 600 !important;
}


h1, .h1 {
    font-size: 50px !important;
    line-height: 55px !important;
    letter-spacing: 1px;
  }

  h2, .h2 {
    font-size: 40px !important;
    line-height: 45px !important;
    letter-spacing: 0px;
  }

  h3, .h3 {
    font-size: 28px !important;
    line-height: 35px !important;
  }

  h4, .h4 {
    font-size: 24px !important;
    line-height: 30px !important;
  }

  h5, .h5 {
    font-size: 20px !important;
    line-height: 22px !important;
  }

  h6, .h6 {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0.07rem;
  }

.row:before, .row:after {
  display: none !important;
}
.btn{
  font-family: 'Raleway', sans-serif !important;
}

p {
  font-family: 'Raleway', sans-serif !important;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

ul{
  padding-left:0rem !important;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: #000 !important;
  text-decoration: none;
  font-size: 16px;
}

.container{
  width: 100%;
  max-width: 1140px !important;
}

button {
  font-family: 'Poppins', sans-serif !important;
}

input:focus-visible {
  outline: unset;
}

input:focus {
  border-color: #C4C4C4 !important;
  outline: unset !important;
  box-shadow: unset !important;
}

textarea:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.btn:focus {
  box-shadow: unset !important;
}

.form-control{
  border-color: #C4C4C4 !important;
}
.form-control:focus{
  border-color: #C4C4C4 !important;
}

select:focus{
  border-color: #C4C4C4 !important;
  box-shadow: unset !important;
}

.form-select{
  font-size: 14px !important;
  color:#c4c4c4 !important;
}



::placeholder {
  color: #C4C4C4 !important;
  font-size: 12px;
}

form input {
  font-weight: 400 !important;
  font-size: 12px !important;
  height: 30px;
  border-color: #C4C4C4;
}

.modal-dialog .modal-content {
  border: none !important;
  border-radius: 20px !important;
}

hr{
  margin:0rem !important;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.black-btn{
  color: #000;
  background-image: url("assets/img/banner-btn.png");
  border-radius: 50px;
  font-weight: 800;
  background-position: center;
  text-transform: uppercase;
  font-size: 20px;
  width: 200px !important;
}

.black-btn:hover{

	background: #00000080 !important;
	color:#fff;
}

.blue-btn{
  font-weight: 800;
  color: #000;
  background: url("assets/img/rug-btn.png");
  background-position: center;
  background-size:cover;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  width: 200px;
  transition: 0.5s;

}

section .blue-btn{
  padding:1rem;
  margin-left: 1rem;
}

section .blue-btn:hover{
	color: #000 !important;
  transform: translateX(10px);

}


/*================(Main CSS Start)=============*/
/*************Page 404 CSS Starts**********/
#page_404{
	background-color: #efefef;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/*************Page 404  CSS Ends**********/
/*************Header CSS Starts*********/
#header {
	.navbar {
		img {
			width: 150px;
		}
		.nav-item {
			.nav-link {
				color: #627b80;
				font-weight: 600;
			}
			.nav-link.active {
				background-color: transparent !important;
				border-bottom: 2px solid #627b80;
				border-radius: 0px;
			}
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.navbar-toggler-icon{
			width: 1em;
			height: 1em;
		}

		.navbar-toggler{
			border: 3px solid #1a1a1a;
			height: 40px;

			&:focus{
				box-shadow: unset !important;
			}
		}
	}
	svg {
		width: 60px;
		height: 60px;
	}
}


.dropbtn {
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.dropdown-content {
			display: block;
		}
	}
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #e8e4db;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		&:hover {
			background-color: #ddd;
		}
	}
}

/*************Header CSS Ends*********/

/***************Footer Css Starts*******/
.top-footer {
	background-color: #e7e3dc;
	padding: 4rem 0rem;
	.navbar-nav {
		.nav-item {
			.nav-link {
				font-weight: 600;
				font-size: 14px;
				&:hover {
					color: #627b80 !important;
				}
				&:focus {
					color: #627b80 !important;
				}
			}
		}
	}
	.col-lg-3 {
		width: 23%;
		&:first-child {
			width: 31%;
		}
	}
	svg {
		margin-right: 10px;
		width: 20px;
		height: 20px;
	}
	.contact_details h6{
    padding-top: 0.5rem;
	}
}
.bottom-footer {
	background-color: #000;
	p {
		color: #fff;
	}


}

/************Footer CSS Ends*********/

/*************Banner CSS Starts*******/
#banner-section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	background: linear-gradient(-45deg, rgb(56 73 77 / 50%), rgb(56 73 77 / 50%)), url(assets/img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.container {
		max-width: 1100px !important;
		width: 100%;
	}
	h1 {
		color: #fff;
	}
	h6 {
		color: #fff;
	}
	button {
		padding: 0.8rem;
		width: 150px;
	}
}

/*************Banner CSS Ends*********/
#section1 {
	background-image: url("assets/img/sec-bg1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	p{
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
  .col-md-6:last-child{
    padding-top: 3rem;
  }
	button {
		i {
			padding-left: 10px;
		}
	}
	.sec1-img {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:after {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:hover {
			&:after {
				background-color: rgba(0, 0, 0, 0.2);
				top: 50%;
				bottom: 50%;
			}
			&:before {
				background-color: rgba(255, 255, 255, .2);
				right: 50%;
				left: 51%;
			}
		}
	}
}

/**********Section 2 css Starts********/

#section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
/******Section3 css Ends***********/
/******Section3 css start***********/
#section3 {
	.container {
		max-width: 800px !important;
		width: 100%;
	}
	p{
		padding-left: 2rem;
	}
	margin-top: -10rem;
	background-image: transparent;
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
	.box {
		z-index: 100000;
		padding: 1.5rem;
		background-color: #e7e3dc;
	}
}

/***********Section3 css End********/
/***********Section4 css Start********/
#section4 {
	background-image: url("assets/img/sec-bg2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	p{
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
  .sec4-img {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:after {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			-webkit-transition: all 0.6s ease-out 0s;
			-moz-transition: all 0.6s ease-out 0s;
			transition: all 0.6s ease-out 0s;
		}
		&:hover {
			&:after {
				background-color: rgba(0, 0, 0, 0.2);
				top: 50%;
				bottom: 50%;
			}
			&:before {
				background-color: rgba(255, 255, 255, .2);
				right: 50%;
				left: 51%;
			}
		}
	}
}
/***********Section4 css End********/
/************Section 5 CSS Start************/
#section5 {
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	.title {
		color: #1a1a1a;
		text-align: center;
		margin-bottom: 10px;
	}
	.content {
		-webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		-moz-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		-ms-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
		position: relative;
		width: 100%;
		margin: auto;
		overflow: hidden;
		.content-overlay {
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
		}
		&:hover {
			.content-overlay {
				opacity: 1;
			}
			.content-details {
				top: 50%;
				left: 50%;
				opacity: 1;
			}
		}
	}
	.content-image {
		width: 100%;
		object-fit: cover;
	}
	img {
		box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}
	.content-details {
		position: absolute;
		text-align: center;
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
		top: 50%;
		left: 50%;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		h3 {
			text-transform: uppercase;
			color: #fff;
		}
		button {
			color: #fff;
			border: 1px solid #fff;
			border-radius: 0px;
		}
	}
}

/************section 5 css ends*********/

/************section 6 css start*********/
#section6 {
	p {
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
	img {
		height: 600px;
		object-fit: cover;
	}
	.col-md-4.col-12 {
		padding-top: 9rem;
	}
	.hover-effect {
		position: relative;

		img{
			width: 100%;
			object-fit: cover;
		}
		&::before {
			right: 0;
			opacity: 0.8;
			top: 0;
			content: "";
			background: #000;
			height: 0;
			width: 0;
			z-index: 1;
			position: absolute;
			-webkit-transition-duration: 1.3s !important;
			-o-transition-duration: 1.3s;
			transition-duration: 1.3s !important;
		}
		&::after {
			bottom: 0;
			opacity: 0.7;
			left: 0;
			content: "";
			background: #000;
			height: 0;
			width: 0;
			z-index: 1;
			position: absolute;
			-webkit-transition-duration: 1.3s !important;
			-o-transition-duration: 1.3s;
			transition-duration: 1.3s !important;
		}
		&:hover {
			&::after {
				height: 100%;
				opacity: 0;
				width: 100%;
			}
			&::before {
				height: 100%;
				opacity: 0;
				width: 100%;
			}
		}
	}

}

/***********section 6 css ends**********/

/***********section 7 css starts**********/
#section7 {

	p{
		padding-left: 2rem;
	}
	h2 {
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #627b80;
			bottom: 0;
			margin-top: 5px;
		}
	}
	button {
		i {
			padding-left: 10px;
		}
	}
	.card {
		border: none;
		border-radius: 10px;
		background-color: #e7e3dc;
	}
	.col-left {
		padding-top: 10rem;
	}
	.card_img {
		width: 100%;
		margin: 0;
		padding: 0;
		background: #fff;
		overflow: hidden;
		&:hover+span {
			bottom: -36px;
			opacity: 1;
		}
		img {
			filter: grayscale(100%);
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		&:hover {
			img {
				filter: grayscale(0%);
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	}
}
/**************Section 7  css ends************/

/**************Section 8  css Start ************/
#section8 {
	background-image: linear-gradient(-45deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url("assets/img/sec8-bg.jpg");
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-attachment: fixed;
	h2 {
		color: #fff;
		&::after {
			content: '';
			position: relative;
			display: block;
			width: 40px;
			height: 3px;
			background: #fff;
			bottom: 0;
			left: calc(48% - 20px);
			text-align: center;
			margin-top: 10px;
		}
	}
	h6 {
		color: #fff;
	}
}
#section-slider {
	margin-top: -10rem;
	.box {
		margin: 1rem;
		box-shadow: 0 0 10px #3333336e;
		padding: 1rem;
		border: 1px solid #fff;
	}
	img {
		width: 100%;
		object-fit: cover;
	}
	.slick-arrow{
		display: none !important;
	}
}


/**************Section 8 css End ************/

/*=============(Signup & Login CSS Starts)===============*/

/************Signup css*********/
#signup {
	background-image: url("assets/img/signup-bg.jpg");
	background-attachment: fixed;
	.container {
		max-width: 600px !important;
		width: 100%;
	}
	.box {
		position: relative;
		background-color: #fff;
		margin: 3rem;
		padding: 2rem;
		box-shadow: 0 0 10px #0000004a;
		border-radius: 20px;
		input {
			height: 40px;
		}
		.blue-btn {
			width: 200px;
			cursor: pointer;
			margin-top: 1rem;
		}
		button.btn {
			// &:disabled {
			// 	pointer-events: auto;
			// 	opacity: 1;
			// }
			font-weight: 800;
		}
		.background {
			.shape {
				height: 100px;
				width: 100px;
				position: absolute;
				border-radius: 50%;
			}
		}
		.shape {
			&:first-child {
				background-image: url("assets/img/sign-shape.jpg");
				left: -40px;
				top: -40px;
				background-size: contain;
			}
			&:last-child {
				background-image: url("assets/img/sign-shape.jpg");
				right: -40px;
				bottom: -40px;
				background-size: contain;
			}
		}
		.alert-danger {
			background-color: transparent !important;
			border: unset !important;
			color: #ff0017;
			padding: 0.5rem 0rem 0rem 0rem !important;
		}
		p {
			font-weight: 500;
		}
	}
}

/************login css*********/

#login {
	background-image: url("assets/img/signup-bg.jpg");
	background-attachment: fixed;
	.container {
		max-width: 600px !important;
		width: 100%;
	}
	.box {
		position: relative;
		background-color: #fff;
		margin: 3rem;
		padding: 2rem;
		box-shadow: 0 0 10px #0000004a;
		border-radius: 20px;
		input {
			height: 40px;
		}
		.blue-btn {
			width: 200px;
			cursor: pointer;
			margin-top: 1rem;
		}
		// button.btn {
		// 	&:disabled {
		// 		pointer-events: auto;
		// 		opacity: 1;
		// 	}
		// }
		.background {
			.shape {
				height: 100px;
				width: 100px;
				position: absolute;
				border-radius: 50%;
			}
		}
		.shape {
			&:first-child {
				background-image: url("assets/img/sign-shape.jpg");
				left: -40px;
				top: -40px;
				background-size: contain;
			}
			&:last-child {
				background-image: url("assets/img/sign-shape.jpg");
				right: -40px;
				bottom: -40px;
				background-size: contain;
			}
		}
	}
}

/*****=================(product Page Scss)=============*******/
#product-details {

	 p{
     font-size: 14px;
	 margin-bottom: 0px;
	}
	.accordion-button {
		padding: 0rem 1rem !important;
		&:not(.collapsed) {
			color: #000;
			background-color: #e8e4dd;
			box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
			&::after {
				background-image: url("assets/img/product/minus.svg") !important;
				transform: rotate(0deg) !important;
			}
		}
		&::after {
			background-image: url("assets/img/product/plus.svg") !important;
		}
		&:focus {
			z-index: 3;
			border-color: #000;
			outline: 0;
			box-shadow: unset !important;
		}
	}
	.product-quantity {
		input {
			height: 50px;
			width: 50px;
			text-align: center;
			font-size: 30px !important;
			vertical-align: middle;
			padding: 0px !important;
			border: none;
		}
		button {
			width: 30px;
			height: 30px;
			background: #fff;
			padding: 0px 8px 8px 8px;
			border: 1px solid #ddd;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			border-radius: 25px;
			font-size: 20px;
		}

		.minus{
			line-height: 26px;
		}
	}
	.product_button {
		a {
			color: #fff !important;
			background-color: #627b80;
			width: 100%;
			text-align: center;
			border-radius: 25px;
			padding: 0.6rem;
			font-size: 20px;
		}
	}
}


/**************Product Page scss Ends*********/

/************Breadcrumb scss starts********/
.breadcrumbs {
	ol {
		margin-top: 4px;
		margin-bottom: 0px;
	}
	li {
		i {
			padding: 0px 10px;
		}
	}
}
.breadcrumb-item {
	a {
		font-weight: 500;
		text-decoration: none;
		color: #000;
		font-size: 14px;
		&:hover {
			color: #000;
		}
	}
}
.breadcrumb-item.active {
	font-size: 14px;
	line-height: 22px;
	color: #8E8E8E;
}

/***********Breadcrumb scss ends***********/


/****=============(Responsive SCSS)============******/

@media(max-width:991px) {
	h1, .h1 {
		font-size: 40px !important;
		line-height: 46px !important;
	  }
	  h2, .h2 {
		font-size: 32px !important;
		line-height: 36px !important;
	  }
	  h3, .h3 {
		font-size: 26px !important;
		line-height: 32px !important;
	  }
	  h4, .h4 {
		font-size: 20px !important;
		line-height: 26px !important;
	  }
	  h5, .h5 {
		font-size: 18px !important;
		line-height: 25px !important;
	  }
	  h6, .h6 {
		font-size: 16px !important;
		line-height: 20px !important;
	  }

	section {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	footer .top-footer .col-lg-3.col-md-6.col-sm-6.col-12{
		width: 50%;
	}


	#section1 .col-md-6:last-child {
		padding-top: 1rem;
	}

	.sec1-col2{
		padding-bottom:1rem;
	}

	#section1 {
		background-image: unset;
	}

	#section1 .col-md-6:last-child {
		background-image: url("assets/img/sec-bg2.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}

	#section7 .col-left {
		padding-top: 0rem;
	}

	#section7 .col-lg-6.col-md-6.col-12{
		margin-top: 1.5rem;
		padding-top: 0rem !important;
	}

	#section6 .hover-effect {
		position: relative;
		margin: 0.7rem 0rem;
	}

  }

  @media(max-width:768px) {
	h1, .h1 {
		font-size: 40px !important;
		line-height: 46px !important;
	  }
	  h2, .h2 {
		font-size: 32px !important;
		line-height: 36px !important;
	  }
	  h3, .h3 {
		font-size: 26px !important;
		line-height: 32px !important;
	  }
	  h4, .h4 {
		font-size: 20px !important;
		line-height: 26px !important;
	  }
	  h5, .h5 {
		font-size: 18px !important;
		line-height: 25px !important;
	  }
	  h6, .h6 {
		font-size: 17px !important;
		line-height: 24px !important;
	  }
	p {
	  font-size: 14px;
	  line-height: 21px;
	}

	#section6 .col-md-4.col-12 {
		padding-top: 1rem;
	}

	.top-footer .col-md-3 {
		width: 50%;
	}

	#section7 .card{
      width: 300px;
	}

	#section7 .col-lg-6.col-md-6.col-12{
		display: flex;
		justify-content: center;
	}

	#section6 .hover-effect{
		padding:0.7rem 0rem;
	}

	.blue-btn{
		font-size: 16px;
		width: 150px;
	}

	#banner-section {
	padding-top: 8rem;
	padding-bottom: 8rem;
	}

	#section-slider {
		margin-top: -9rem;
	}

	.black-btn{
		font-size: 16px;
		width: 180px !important;
		line-height: 20px;
	}

	#section3{
		margin-top: -15rem;
	}

	.top-footer .col-md-3:first-child {
		width: 50%;
	}

	#header .navbar img {
		width: 100px;
	}

  }

  @media(max-width:576px) {
	h1, .h1 {
		font-size: 38px !important;
		line-height: 46px !important;
	  }
	  h2, .h2 {
		font-size: 30px !important;
		line-height: 33px !important;
	  }
	  h3, .h3 {
		font-size: 24px !important;
		line-height: 32px !important;
	  }
	  h4, .h4 {
		font-size: 20px !important;
		line-height: 26px !important;
	  }
	  h5, .h5 {
		font-size: 17px !important;
		line-height: 24px !important;
	  }
	  h6, .h6 {
		font-size: 16px !important;
		line-height: 23px !important;
	  }
	footer .top-footer .col-lg-3.col-md-6.col-sm-6.col-12:first-child{
		width: 100%;
	}

	footer .top-footer .col-lg-3.col-md-6.col-sm-6.col-12{
		width: 100%;
		padding:16px 12px;
	}




	#banner-section {
		padding-top: 6rem;
		padding-bottom: 6rem;
		}

		#section8{
			padding-top: 5rem;
			padding-bottom: 5rem;
		}

		#section-slider {
			margin-top: -8rem;
		}

		#section3{
			margin-top: -20rem;
		}

  }

  @media(max-width:470px) {
	h1, .h1 {
		font-size: 36px !important;
		line-height: 44px !important;
	  }
	  h2, .h2 {
		font-size: 28px !important;
		line-height: 33px !important;
	  }
	  h3, .h3 {
		font-size: 20px !important;
		line-height: 28px !important;
	  }
	  h4, .h4 {
		font-size: 18px !important;
		line-height: 25px !important;
	  }
	  h5, .h5 {
		font-size: 16px !important;
		line-height: 23px !important;
	  }
	  h6, .h6 {
		font-size: 15px !important;
		line-height: 22px !important;
	  }
	#section7 .card_img img {

		transform: scale(1);


	}

	#section6 img {
	height: 450px;
	}

	#section-slider {
		margin-top: -7rem;
	}


  }

  @media(max-width:360px) {
	h1, .h1 {
	  font-size: 36px !important;
	  line-height: 44px !important;
	}
	h2, .h2 {
	  font-size: 28px !important;
	  line-height: 33px !important;
	}
	h3, .h3 {
	  font-size: 20px !important;
	  line-height: 28px !important;
	}
	h4, .h4 {
	  font-size: 18px !important;
	  line-height: 25px !important;
	}
	h5, .h5 {
	  font-size: 16px !important;
	  line-height: 23px !important;
	}
	h6, .h6 {
	  font-size: 15px !important;
	  line-height: 22px !important;
	}

	#banner-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
		}




  }

  @media (min-width: 768px) {



  }

  @media(min-width:991px) {

  }



  @media (min-width: 576px) {


  }




