<!------------Banner Section Starts--------------->
<section id = "banner-section">
    <div class = "container">
      <div class = 'text-center'>
        <h1 class = "mb-0">We provide Ultimate Patterns & Cosy Rugs</h1>
        <h6 class = "py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
          text of the printing and typesetting industry.
        </h6>
        <button type = "button" class= "btn black-btn">Find More</button>
      </div>
    </div>
  </section>
  <!-----------Banner Section Ends---------->
  <!-----------Section1 Start---------->
  <section id = "section1">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-6">
          <div>
            <img src = "assets/img/sec1-img.png" width="100%">
          </div>
        </div>
        <div class = "col-md-6">
          <div class = "sec1-col2">
            <h2>Our Story</h2>
            <p class = "py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id similique quo velit, facilis iure ea magni sequi voluptatum ratione beatae harum corrupti eos ut ipsa vero ex natus porro suscipit, deleniti asperiores ducimus rerum totam! Autem impedit cumque, nostrum ut veritatis quis blanditiis quidem, magnam aliquam maiores, error minima rem?</p>
            <button type = "button" class = "btn blue-btn">Our Story<i class = "fa fa-angle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------Section1 Start---------->
  <section id = "section2">
    <div>
      <video width="100%" autoplay loop muted>
        <source src="assets/video/sec2-bg.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <!-----------Section 3 starts--------->
  <section id = "section3">
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class = "container">
        <div class = "box">
          <h2>Our Success</h2>
          <p class = "py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem. Proin nulla velit, vestibulum vitae lobortis quis, consequat a nulla. Praesent tincidunt, dolor vitae rutrum tincidunt, lacus lectus euismod justo, ut tincidunt erat lorem ut ex. Fusce vitae interdum lorem. Aliquam blandit facilisis risus non fringilla. Duis accumsan nulla at ligula vehicula, quis fermentum nisl dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem. Proin nulla velit, vestibulum vitae lobortis quis, consequat a nulla. </p>
          <button type = "button" class = "btn blue-btn">Our Success<i class = "fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </section>
  <!-----------Section 3 Ends--------->
  <!-----------Section 4 starts--------->
  <section id = "section4">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-6">
          <div class = "sec1-col2">
            <h2>Meet Resolute</h2>
            <p class = "py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget turpis ac justo sagittis rhoncus ut id sem.</p>
            <button type = "button" class = "btn blue-btn">Shop Now<i class = "fa fa-angle-right"></i></button>
          </div>
        </div>
        <div class = "col-md-6">
          <div>
            <img src = "assets/img/sec4-img.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------Section 4 Ends--------->
  <!-----------Section 5 starts--------->
  <section id = "section5">
    <div class = "container">
      <div>
        <h2 class = "mb-4">Rugs Accordance</h2>
      </div>
      <div class = "row">
        <div class = "col-md-6 col-12 ">
          <div class = "box">
            <div class = "hover06">
              <figure>
                <img src = "assets/img/sec5-img1.jpg" alt = "" width="100%">
              </figure>
            </div>
            <div class = "box-content">
              <h3>Lorem Ipsum</h3>
              <button type = "button" class = "btn">View Products</button>
            </div>
          </div>
        </div>
        <div class = "col-md-6 col-12">
          <div class = "box">
            <div class = "hover06">
              <figure>
                <img src = "assets/img/sec5-img2.jpg" alt = "" width="100%">
              </figure>
            </div>
            <div class = "box-content">
              <h3>Lorem Ipsum</h3>
              <button type = "button" class = "btn">View Products</button>
            </div>
          </div>
        </div>
        <div class = "col-md-6 col-12 pt-4">
          <div  class = "box">
            <div class = "hover06">
              <figure>
                <img src = "assets/img/sec5-img3.jpg" alt = "" width="100%">
              </figure>
            </div>
            <div class = "box-content">
              <h3>Lorem Ipsum</h3>
              <button type = "button" class = "btn">View Products</button>
            </div>
          </div>
        </div>
        <div class = "col-md-6 col-12 pt-4">
          <div  class = "box">
            <div class = "hover06">
              <figure>
                <img src = "assets/img/sec5-img4.jpg" alt = "" width="100%">
              </figure>
            </div>
            <div class = "box-content">
              <h3>Lorem Ipsum</h3>
              <button type = "button" class = "btn">View Products</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------Section 5 Ends--------->
  <!-----------Section 6 Starts--------->
  <section id = "section6">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-8 col-12">
          <div class = "row">
            <div class = "col-md-6">
              <div class = "sec6-img">
                <img src = "assets/img/sec6-img1.jpg" width="100%">
                <img src = "assets/img/sec6-img1.jpg" width="100%">
                <img src = "assets/img/sec6-img1.jpg" width="100%">
                <img src = "assets/img/sec6-img1.jpg" width="100%">
              </div>
            </div>
            <div class = "col-md-6">
              <div class = "sec6-img">
                <img src = "assets/img/sec6-img2.jpg" width="100%">
                <img src = "assets/img/sec6-img2.jpg" width="100%">
                <img src = "assets/img/sec6-img2.jpg" width="100%">
                <img src = "assets/img/sec6-img2.jpg" width="100%">
              </div>
            </div>
          </div>
        </div>
        <div class = "col-md-4 col-12">
          <div>
            <h2>Flat & Knotted</h2>
            <p class = "py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            <button type = "button" class = "btn blue-btn">Find More <i class = "fa fa-angle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------Section 6 Ends--------->
  <!-----------Section 7 Starts--------->
  <section id = "section7">
    <div class = "container">
      <div class = "row">
        <div class  = "col-md-6">
          <div class = "col-left">
            <h2>Our Collection</h2>
            <p class = "py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            <button type = "button" class = "btn blue-btn">Find More <i class = "fa fa-angle-right"></i></button>
          </div>
        </div>
        <div class  = "col-md-6">
          <div class ="row">
            <div class = "col-md-6">
              <a href  = "#">
                <div class="card">
                  <img src="assets/img/collection1.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">$80.00
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <div class = "col-md-6 ">
              <a href  = "#">
                <div class="card">
                  <img src="assets/img/collection2.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">$90.00
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <div class = "col-md-6 pt-4">
              <a href  = "#">
                <div class="card">
                  <img src="assets/img/collection3.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">$70.00
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <div class = "col-md-6 pt-4">
              <a href  = "#">
                <div class="card">
                  <img src="assets/img/collection4.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">$85.00
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------Section 7 Ends--------->



<section id = "section-slider">
    <div class = "container">
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig">
        <div ngxSlickItem  class="slide slider_content">
            <div class = "box">
                <img src = "assets/img/logo4.png" width="100%">
             </div>
        </div>
        <div ngxSlickItem  class="slide slider_content" >
          <div class = "box">
             <img src = "assets/img/logo2.png" width="100%">
          </div>
        </div>
        <div ngxSlickItem  class="slide slider_content">
            <div class = "box">
                <img src = "assets/img/logo3.png" width="100%">
             </div>
        </div>
        <div ngxSlickItem  class="slide slider_content">
            <div class = "box">
                <img src = "assets/img/logo4.png" width="100%">
             </div>
        </div>
        <div ngxSlickItem  class="slide slider_content">
            <div class = "box">
                <img src = "assets/img/logo2.png" width="100%">
             </div>
        </div>
        <div ngxSlickItem  class="slide slider_content">
            <div class = "box">
                <img src = "assets/img/logo3.png" width="100%">
             </div>
        </div>
        </ngx-slick-carousel>
    </div>
</section>
