<!----------------(Banner Start)------------------>
<app-banner></app-banner>
<!----------------(Banner End)------------------>
<hr class = "section_hr">
<!-----------Section1 Start---------->
<section id = "section1">
  <div class = "container">
    <div class = "row flex-column-reverse flex-lg-row flex-md-row">
      <div class = "col-md-6">
        <div class = "sec1-img">
          <img src = "{{home?.ourstoryimage}}" width="100%">
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "sec1-col2">
          <h2>{{home?.ourstorytitle1}}</h2>
          <div class = "py-3 mb-0" innerHTML="{{home.ourstorydescripation}}"></div>
          <button type = "button" class = "btn blue-btn" routerLink = "{{home.ourstorybuttonlink}}">{{home?.ourstorybuttonname}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class = "section_hr">
<!-----------Section1 Start---------->
<section id = "section2">
  <div>
    <iframe width="100%" height="700px" src="https://www.youtube.com/embed/2xp-XC5yylA?autoplay=1&mute=1&rel=0
    ">
    </iframe>
  </div>
</section>
<hr class = "section_hr">
<!-----------Section 3 starts--------->
<section id = "section3">
  <div class = "container">
    <div class = "box">
      <h2>{{home.oursuccesstitle}}</h2>
      <p class = "py-3 mb-0">{{home.oursuccessdescripation}}</p>
      <button type = "button" class = "btn blue-btn" routerLink="{{home.oursuccessbuttonlink}}">{{home.oursuccessbuttonname}}</button>
    </div>
  </div>
</section>
<hr class = "section_hr">
<!-----------Section 3 Ends--------->
<!-----------Section 4 starts--------->
<section id = "section4">
  <div class = "container">
    <div class = "row ">
      <div class = "col-lg-6 col-12">
        <div class = "sec1-col2">
          <h2>{{home.meetresolutetitle}}</h2>
          <p class = "py-3 mb-0">{{home.meetresolutedescripation}}</p>
          <button type = "button" class = "btn blue-btn" routerLink="{{home.meetresolutebuttonelink}}">{{home.meetresolutebuttonname}}</button>
        </div>
      </div>
      <div class = "col-lg-6 col-12">
        <div class ="sec4-img">
          <img src = "{{home.meetresoluteimage}}" width="100%">
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------Section 4 Ends--------->
<hr class = "section_hr">
<!-----------Section 5 starts--------->
<section id = "section5">
  <div class="container">
    <div>
      <h2>{{home.rugsAccordancetitle}}</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <a routerLink = "/products">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{home.rugsproductproductimage1}}">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{home.rugsproducttitle1}}</h3>
              <a type = "button" class = "btn" routerLink = "{{home.rugsproductproductbuttonlink1}}">{{home.rugsproductbuttonname1}}</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <a routerLink = "/products">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{home.rugsproductproductimage2}}">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{home.rugsproducttitle2}}</h3>
              <a type = "button" class = "btn" routerLink = "{{home.rugsproductproductbuttonlink2}}">{{home.rugsproductbuttonname2}}</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content ">
          <a routerLink = "/products">
            <div class="content-overlay "></div>
            <img class="content-image " src="{{home.rugsproductproductimage3}}">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{home.rugsproducttitle3}}</h3>
              <a type = "button" class = "btn" routerLink = "{{home.rugsproductproductbuttonlink3}}">{{home.rugsproductbuttonname3}}</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <a routerLink = "/products">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{home.rugsproductproductimage4}}">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{home.rugsproducttitle4}}</h3>
              <a type = "button" class = "btn" routerLink = "{{home.rugsproductproductbuttonlink4}}">{{home.rugsproductbuttonname3}}</a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-----------Section 5 Ends--------->
<hr class = "section_hr">
<!-----------Section 6 Starts--------->
<section id = "section6">
  <div class = "container">

    <div class = "row flex-column-reverse flex-lg-row flex-md-row">
      <div class = "col-lg-8 col-12">
        <div class = "row">
          <div class = "col-lg-6 col-12">
            <div class="hover-effect">
              <img src="{{home.flatimage1}}" alt="images">
             </div>
          </div>
          <div class = "col-lg-6 col-12">
            <div class="hover-effect">
              <img src="{{home.flatimage2}}" alt="images">
              </div>
          </div>
        </div>
      </div>
      <div class = "col-lg-4 col-12">
        <div>
          <h2>{{home.flattitle}}</h2>
          <p class = "py-3 mb-0">{{home.flatdesctipation}}</p>
          <button type = "button" class = "btn blue-btn" routerLink="{{home.flatbuttonlink}}">{{home.flatbuttonname}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------Section 6 Ends--------->
<hr class = "section_hr">
<!-----------Section 7 Starts--------->
<section id="section7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="col-left">
          <h2>{{home.collectiontitle}}</h2>
          <p class="py-3">{{home.collectiondescripation}}</p>
          <button type="button" class = "btn blue-btn">{{home.collectionbuttonname}}</button>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12" *ngFor="let product of featureProduct">
            <a [routerLink]="['/product-detail', product.id]">
              <div class="card">
                <hr class="section_hr">
                <div class="card_img">
                  <img src="assets/img/collection1.jpg" class="card-img-top" alt="...">
                </div>
                <hr class="section_hr">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">€{{product.price}}
                  </h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------Section 7 Ends--------->
<hr class = "section_hr">
<!-----------Section 8 Starts--------->
<section id = "section8">
  <div class = "container">
    <div class = 'text-center'>
      <h2 class = "mb-0">Broken Symmetry</h2>
      <h6 class = "py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
        text of the printing and typesetting industry.
      </h6>
    </div>
  </div>
</section>
<hr class = "section_hr">
<!-----------Section 8 Ends--------->
<section id = "section-slider">
  <div class = "container">
    <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig">
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/partner1.png" width="100%">
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content" >
      <div class = "box">
        <img src = "assets/img/partner2.png" width="100%">
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/partner1.png" width="100%">
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/partner2.png" width="100%">
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/partner1.png" width="100%">
      </div>
    </div>
    <div ngxSlickItem  class="slide slider_content">
      <div class = "box">
        <img src = "assets/img/partner2.png" width="100%">
      </div>
    </div>
    </ngx-slick-carousel>
  </div>
</section>
<hr class = "section_hr">
