<!-------Section1-------->
<section id = "size-guide1">
    <div class = "container container1">
        <div class = "text-center">
            <h2>Size Guide</h2>
            <p class = "pt-2">"Measure twice, cut once." Make sure you order the
               right size rug for your space using the size guide below.
               Here are some tips for different spaces.</p>
               <p>Have a uniquely shaped room? Need a custom size?
                <a href = "#">Just let us know </a>— we can make it happen.</p>
         </div>
  </div>
  <div class = "container">
      <div>
        <nav class = "mt-4">
            <div class="nav nav-tabs justify-content-center gap-2" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-materials-tab" data-bs-toggle="tab" data-bs-target="#nav-materials"
                type="button" role="tab" aria-controls="materials" aria-selected="true">Small Rugs</button>
              <button class="nav-link" id="nav-tassels-tab" data-bs-toggle="tab" data-bs-target="#nav-tassels"
                type="button" role="tab" aria-controls="nav-tassels" aria-selected="false">Medium Rugs</button>
              <button class="nav-link" id="nav-lead-time-tab" data-bs-toggle="tab" data-bs-target="#nav-lead-time"
                type="button" role="tab" aria-controls="nav-lead-time" aria-selected="true">Large Rugs</button>
            </div>
          </nav>
          <div class="tab-content pt-4" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-materials" role="tabpanel" aria-labelledby="nav-materials-tab">
                <div class = "text-center">
                    <p class = "mb-1">Comman Sizes (ft):</p>
                    <h5 class = "mb-4">3x5 , 4x6 , 5x7</h5>
                </div>
                <div class = "row">
                <div class = "col-lg-4 col-md-4 col-12">
                   <div class = "card card-body text-center">
                     <img src = "assets/img/size-guide/kitchen.png">
                     <p>Kitchen</p>
                   </div>
                </div>
                <div class = "col-lg-4 col-md-4 col-12">
                    <div class = "card card-body text-center">
                        <img src = "assets/img/size-guide/home-office.png">
                        <p>Home Office</p>
                    </div>
                </div>
                <div class = "col-lg-4 col-md-4 col-12">
                    <div class = "card card-body text-center">
                        <img src = "assets/img/size-guide/living2.png">
                        <p>Living Room</p>
                      </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-tassels" role="tabpanel" aria-labelledby="nav-tassels-tab">
                <div class = "text-center">
                    <p class = "mb-1">Comman Sizes (ft):</p>
                    <h5 class = "mb-4">6x9 , 8x10</h5>
                </div>
                <div class = "row">
                    <div class = "col-lg-4 col-md-4 col-12">
                       <div class = "card card-body text-center">
                         <img src = "assets/img/size-guide/bedroom.png">
                         <p>Bedroom</p>
                       </div>
                    </div>
                    <div class = "col-lg-4 col-md-4 col-12">
                        <div class = "card card-body text-center">
                            <img src = "assets/img/size-guide/home.png">
                            <p>Home Office</p>
                        </div>
                    </div>
                    <div class = "col-lg-4 col-md-4 col-12">
                        <div class = "card card-body text-center">
                            <img src = "assets/img/size-guide/living.png">
                            <p>Living Room</p>
                          </div>
                    </div>
                  </div>
            </div>
            <div class="tab-pane fade" id="nav-lead-time" role="tabpanel" aria-labelledby="nav-lead-time-tab">
                <div class = "text-center">
                    <p class = "mb-1">Comman Sizes (ft):</p>
                    <h5 class = "mb-4">9x12 , 10x14 , 12x15</h5>   
                </div>
                <div class = "row">
                    <div class = "col-lg-4 col-md-4 col-12">
                       <div class = "card card-body text-center">
                         <img src = "assets/img/size-guide/bedroom.png">
                         <p>Bedroom</p>
                       </div>
                    </div>
                    <div class = "col-lg-4 col-md-4 col-12">
                        <div class = "card card-body text-center">
                            <img src = "assets/img/size-guide/living.png">
                            <p>Living Room</p>
                        </div>
                    </div>
                  </div>
            </div>  
          </div>
      </div>
  </div>
</section>
<!-------Section1 Ends-------->
<hr class ="section_hr">
<!-------Section2 Start-------->
<section id = "size-guide2">
    <div class = "container">
        <div class = "text-center pb-3">
            <h2>Size Conversion Chart</h2>
        </div>
        <div class = "row">
            <div class = "col-md-6 col-sm-12 col-6">
               <div>
                   <div class = "text-center">
                       <h5>Knotted - Thick Pile</h5>
                   </div>
                   <table  class="table table-bordered text-center">
                       <thead>
                         <tr>
                              <th>Feet</th>
                              <th>cm</th>
                          </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>3 x 5</td>
                               <td>92 x 153</td>
                           </tr>
                           <tr>
                               <td>3 x 9</td>
                               <td>92 x 275</td>
                           </tr>
                           <tr>
                              <td>3 x 12</td>
                              <td>92 x 366</td>
                            </tr>
                            <tr>
                               <td>4 x 6</td>
                               <td>122 x 183</td>
                            </tr>
                            <tr>
                               <td>4 x 15</td>
                               <td>122 x 458</td>
                            </tr>
                            <tr>
                               <td>5 x 7</td>
                               <td>153 x 214</td>
                            </tr>
                            <tr>
                               <td>6 x 9</td>
                               <td>183 x 275</td>
                            </tr>
                            <tr>
                               <td>8 x 10</td>
                               <td>244 x 305</td>
                            </tr>
                            <tr>
                                <td>9 x 12</td>
                                <td>275 x 366</td>
                             </tr>
                             <tr>
                                <td>10 x 14</td>
                                <td>305 x 427</td>
                             </tr>
                             <tr>
                                <td>12 x 15	</td>
                                <td>366 x 458</td>
                             </tr>
                       </tbody>
                   </table>
               </div>
            </div>
            <div class = "col-md-6 col-sm-12 col-6">
                <div>
                    <div class = "text-center">
                        <h5>Flat-woven</h5>
                    </div>
                    <table  class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Feet</th>
                                <th>cm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3 x 5</td>
                                <td>92 x 153</td>
                            </tr>
                            <tr>
                                <td>3 x 9</td>
                                <td>92 x 275</td>
                            </tr>
                            <tr>
                               <td>3 x 12</td>
                               <td>92 x 366</td>
                             </tr>
                             <tr>
                                <td>4 x 6</td>
                                <td>122 x 183</td>
                             </tr>
                             <tr>
                                <td>4 x 15</td>
                                <td>122 x 458</td>
                             </tr>
                             <tr>
                                <td>5 x 7</td>
                                <td>153 x 214</td>
                             </tr>
                             <tr>
                                <td>6 x 9</td>
                                <td>183 x 275</td>
                             </tr>
                             <tr>
                                <td>8 x 10</td>
                                <td>244 x 305</td>
                             </tr>
                             <tr>
                                 <td>9 x 12</td>
                                 <td>275 x 366</td>
                              </tr>
                              <tr>
                                 <td>10 x 14</td>
                                 <td>305 x 427</td>
                              </tr>
                              <tr>
                                 <td>12 x 15	</td>
                                 <td>366 x 458</td>
                              </tr>
                        </tbody>
                    </table>
                </div>
             </div>

        </div>
    </div>
</section>
<!-------Section2 End-------->
<hr class ="section_hr">
