/****========Comman CSS==========***/
/*******Banner SCSS*********/
#story-banner{
	background-image: linear-gradient(-45deg, #38494d99, #38494d99),url("/assets/img/product/banner1.jpg");
	padding: 8rem 0rem;
}
/*******Section1 SCSS*********/

/**********Section2 SCSS********/
#story-section2{
    .col2{
        padding: 8rem 0rem 0rem 2rem;
        button{
            margin-left: 0rem;
        }
    }
}
/*******Section3 SCSS********/
#story-section3{
    background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story2.jpg') no-repeat 0% 0px, url('/assets/img/our-story/story3.jpg') no-repeat 50% 0px, url('/assets/img/our-story/story4.jpg') no-repeat 100% 0px;
    background-size: contain;
    animation: change 10s infinite ease-in-out;
    @keyframes change {
		0%{
            background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story2.jpg') no-repeat 0% 0px, url('/assets/img/our-story/story3.jpg') no-repeat 50% 0px, url('/assets/img/our-story/story4.jpg') no-repeat 100% 0px;
		}
		50%{
            background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story3.jpg') no-repeat 0% 0px, url('/assets/img/our-story/story4.jpg') no-repeat 50% 0px, url('/assets/img/our-story/story2.jpg') no-repeat 100% 0px;
		}
		100%{
            background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story4.jpg') no-repeat 0% 0px, url('/assets/img/our-story/story2.jpg') no-repeat 50% 0px, url('/assets/img/our-story/story3.jpg') no-repeat 100% 0px;
		}
	}
    .container{
     max-width: 700px !important;
     .box{
        padding: 4rem;
         background: #38494d99;
         clip-path: polygon(100% 0%, 90% 100%, 50% 100%, 0% 100%, 10% 0);
         h2{
             &:after{
                 background-color: #e7e3dc;
                 left:calc(50% - 20px);
             }
         }
         button{
             &:hover{
                 color: #fff !important;
             }
         }
     }
 }
}
/**********Section4 SCSS********/
#story-section4{
    .col1{
        padding: 10rem 2rem 0rem 0rem;
        text-align: right;
    h2{
        &:after{
            left: calc(100% - 45px);
        }
    }
  }
}
/*********Section5 SCSS*********/
#story-section5{
    background-image:linear-gradient(#ffffff59 0 , #0000 100%),url("/assets/img/our-story/story6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: top;
    .container{
        max-width: 800px !important;
        .box{
            text-align: center;
            h2{
                &:after{
                    left: calc(50% - 20px);
                }
            }
        }
    }
}
/**==========++++++(Responsive SCSS)++++++++++============*/
@media(max-width:991px) {
    h2{
        &:after{
         margin-top: 5px;
        }
    }
    #story-section2{
        .col2{
            padding:0rem 0rem 1rem 0rem;
        }
    }
    #story-section3{
        animation: change 10s infinite ease-in-out;
        @keyframes change {
            0%{
                background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story4.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
            50%{
                background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
                100%{
                background:linear-gradient(-45deg, #38494d99, #38494d99), url('/assets/img/our-story/story3.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    #story-section4{
        .col1{
            text-align: left;
            padding: 0rem 0rem 1rem 0rem;
            h2{
                &:after{
                    left: 0;
                }
            }
        }
    }
    #story-section5{
        height: 600px;
    }
}
@media(max-width:768px) {
    p{
      font-size: 16px;
      line-height: 24px;
    }
    #story-banner{
        padding: 6rem 0rem;
      }
      #story-section5{
          height: 500px;
      }
      #story-section3{
          padding:4rem 0rem;
        .container{
            .box{
                padding:1.5rem;
            }
        }
    }
}
@media(max-width:576px) {
    #story-banner{
        padding: 4rem 0rem;
    }
    #story-section1{
        .container{
            .box{
                padding:1.5rem;
               img{
                   width: 200px;
               }
           }
        }
    }
}
